[2020-04-06 14:30] jmprathab opened #1 "Add members to a house"
Users should be able to add members to a house

[2020-04-06 14:40] jmprathab opened #2 "Disable failing tests"
Some tests are failing and needs to be disabled.

[2020-04-06 14:47] #2 closed

[2020-05-03 09:39] jmprathab opened #3 "Enable authentication for discovery service"
Enable authentication for discovery service

[2020-05-03 11:52] jmprathab opened #6 "Fix github build workflow"
Fix github build workflow

[2020-05-07 12:39] jmprathab commented on #6
Fixed in recent commit.

[2020-05-07 12:39] #6 closed, assigned to jmprathab

[2020-05-07 12:40] jmprathab opened #7 "user-service should not accept null user name"
* In `users-service` `User.java` currently there is no validation for `name` field.
* Ther should be a Non-null validation check for this entity object.

[2020-05-07 12:41] jmprathab opened #8 "Make all sensitive content in properties file encrypted"
## Make all sensitive content in properties file encrypted

* Currently sensitive content like `JWT Secret Key` is stored un-encrypted in `application.yml` file.
* These sensitive content must be encrypted and stored in `application.yml` file.

[2020-05-07 16:17] jmprathab opened #9 "Implemented the following community-service APIs"
* Create a new community

[2020-05-07 16:18] #9 closed, assigned to jmprathab

[2020-05-08 13:45] jmprathab opened #10 "API for listing all communities"
# Implement API for listing all communities

* GET - /communities/

This API should list all available communities as a response.

skip and limit parameters will be added later on to enable pagination

[2020-05-08 13:48] jmprathab opened #11 "Implement API for adding admin to a community"
# Users of REST API should be able to add admins for a community

* POST - /communities/{communityId}/

This resource end point will accept a list of admins.

[code]

[2020-05-09 04:33] #10 closed, assigned to jmprathab

[2020-05-09 05:44] jmprathab opened #12 "API for getting details about a community"
GET - /communities/{communityId}

[2020-05-09 05:46] #12 closed, assigned to jmprathab

[2020-05-09 10:12] jmprathab opened #13 "Implement list admins API"

[2020-05-09 10:14] #13 closed, assigned to jmprathab

[2020-05-09 11:29] #11 closed, assigned to jmprathab

[2020-05-09 12:15] jmprathab opened #14 "Add community-service to docker services"

[2020-05-09 12:15] jmprathab opened #15 "Publish postman API export"
This is just to try out APIs easily in another environment.

[2020-05-09 12:20] #14 closed, assigned to jmprathab

[2020-05-09 12:20] #15 closed, assigned to jmprathab

[2020-05-10 07:07] jmprathab opened #16 "Implement list houses given a communityId"
# APIs expected

* GET - /houses - Get a list of houses given a communityId

[2020-05-10 09:41] jmprathab opened #17 "Get a list of houses given a communityId"
* GET - /houses - Get a list of houses given a communityId

[2020-05-10 09:43] #17 closed, assigned to jmprathab

[2020-05-10 09:43] #16 closed, assigned to jmprathab

[2020-06-06 13:53] jmprathab opened #18 "Convert application to monolithic architecture"
* Microservice architecture consumes a lot of CPU resources at runtime.
* My aim is to run the services in a single AWS instance.
* That would be impossible to do in a spring boot application.
* I had 2 choices. 1. Migrate everything to golang 2. Stay with Spring boot and convert the application to Monolith.
* I chose 2 just because, it makes development faster.

[2020-06-06 13:56] #18 closed, assigned to jmprathab

[2020-06-10 15:50] jmprathab opened #21 "Implement DELETE house API"
## Implement DELETE house API

* Users should be able to delete a house which was added.
* REST endpoint should be `/communitites/{communityId}/houses/{houseId}`
* HTTP method should be `DELETE`

[2020-06-12 17:20] gangadhargo commented on #21
sir, can I start contributing to this feature.

[2020-06-13 04:12] jmprathab commented on #21
@gangadhargo Please feel free to send a PR. Please assign the issue to yourself so that people know you are working on this. Thanks for contributing.

[2020-06-13 12:21] jmprathab commented on #3
Discovery service is no longer present. Hence, closing the issue.

[2020-06-13 12:21] #3 closed, assigned to jmprathab

[2020-06-13 14:20] jmprathab opened #22 "h2-console not showing up"
* Cannot access h2-console from running application.
* This is due to incorrect configuration in application.yml file.

[2020-06-13 14:58] jmprathab commented on #21
@gangadhargo Please let me know if you need any help to understand the requirement.

[2020-06-13 17:29] jmprathab opened #23 "Implement adding and listing members of the house"
* /houses/{id}/members - POST - Create member
* /houses/{id}/members - GET - List all members of the house.

[2020-06-13 17:30] #22 closed, assigned to jmprathab

[2020-06-13 17:30] #23 closed, assigned to jmprathab

[2020-06-14 07:17] jmprathab opened #25 "Add all domain entities to DataLoader"
* For easier debugging, add all default entities to `DataLoader`

[2020-06-14 07:20] #25 closed, assigned to jmprathab

[2020-06-14 09:26] gangadhargo commented on #21
@jmprathab sure thanks

[2020-06-16 16:29] jmprathab opened #26 "Version all REST APIs"
* All REST endpoints need to be versioned.
* URI versioning scheme can be used for versioning.

[2020-06-16 16:44] jmprathab opened #27 "Add house member API resulting in Stackoverflow"
How to repro?

* Send Add house member API with a payload.
* There is a stack overflow exception at the server.

Expectation

* API should return added member's ID.

[2020-06-17 13:02] weakphish commented on #8
Hey, I'd like to work on this - what kind of encryption did you have in mind? And what kind of process if any did you have in mind? Thanks.

[2020-06-17 16:02] jmprathab commented on #8
@John123Allison Thanks for your time and interest.

This issue was created when the project had a micro-service architecture. I originally wanted to use Spring cloud config server's encryption/decryption [functionality](https://cloud.spring.io/spring-cloud-static/spring-cloud-config/1.3.0.RELEASE/#_encryption_and_decryption). I wanted to encrypt `token.secret` which is present in [application.yml]

[2020-06-17 16:35] #27 closed, assigned to jmprathab

[2020-06-17 16:38] jmprathab commented on #26
Closing the issue. There is no plan to version the APIs as of now.

[2020-06-17 16:38] #26 closed, assigned to jmprathab

[2020-06-18 00:09] weakphish commented on #8
Hey,

I agree with your assessment, go ahead and close :)
Thanks for the reply!

[2020-06-18 06:18] #8 closed, assigned to nobody

[2020-06-18 09:18] Sountastic commented on #21
@jmprathab does it still need to be done? I would like to get involved ;)

[2020-06-18 09:19] Sountastic commented on #7
@jmprathab i can involve in this one ;)

[2020-06-19 06:06] jmprathab commented on #7
@Sountastic Sure. Please assign it to yourself. Let me know if you need help.

[2020-06-19 06:07] jmprathab commented on #21
@Sountastic Yes, it needs to be done. Thanks for your interest. Please assign it to yourself.

[2020-06-23 10:45] Sountastic commented on #21
@jmprathab i couldn't assign myself because I'm not authorized for that. I created a pull request. Take a look if I should add something more ;)

[2020-06-24 07:09] jmprathab opened #30 "Implement DELETE community API"
* Implement DELETE community API

[2020-06-24 07:11] jmprathab opened #31 "Implement DELETE member API"
* API should allow the user to DELETE a house member.

[2020-06-24 07:12] jmprathab opened #32 "Implement DELETE admin API"
* Allow deletion of admin associated with a community.

[2020-06-24 07:24] jmprathab opened #33 "Convert codebase to use Java8"
## Convert codebase to use Java8 as most people seem to prefer Java8
### Following needs to be updated
1. `README.md`
2. `Dockerfile`
3. Codebase and gradle files.

[2020-07-03 14:23] gangadhargo commented on #33
Hi, I have raised the pull request for this could you please review it. and I need one more help, could please let me know how to generate the bearer token as i am new to this. I tried but couldn't able to generate one. any suggestion please

[2020-07-04 08:53] jmprathab commented on #33
@gangadhargo Thanks for the PR.
You get the bearer token as part of Response headers when hitting `/users/login` API. Look out for `token` header.

[2020-07-04 09:01] #33 closed, assigned to gangadhargo

[2020-07-04 09:08] jmprathab opened #35 "Postman API collection updates"

[2020-07-04 09:11] #35 closed, assigned to jmprathab

[2020-07-04 14:44] gangadhargo commented on #33
Able to generate the token thanks @jmprathab

[2020-07-04 18:25] gangadhargo commented on #32
@jmprathab can you please assign this task to me. could you please share your email Id. I want to know more about the project and we can have a chat. my email Id: gangadhar.reddy7@gmail.com

[2020-07-05 04:31] jmprathab commented on #32
@gangadhargo I have assigned the issue to you. My email id is jm.prathab@gmail.com

[2020-07-08 03:54] #32 closed, assigned to gangadhargo

[2020-07-11 05:31] #31 closed, assigned to nobody

[2020-07-14 08:25] jmprathab opened #38 "Come up with test cases for all the APIs"
Unit tests for all API endpoints. Currently none of the APIs have test coverage :-(

[2020-07-14 12:52] Tobi406 opened #39 "/users/:uuid not accepting Content-Type: application/json"
The following is returned when trying to get data from the `/users/:uuid` endpoint:
[code]

Tested with the command `curl -X GET "http://localhost:8080/users/{{VALID_UUID}}" -H "accept: application/json" -H "Authorization: Bearer {{VALID_TOKEN}}"`.

It works fine when using another route (eg. `/communities`)

[2020-07-14 12:56] Tobi406 commented on #39
In the console this appears:

[code]
Not sure if that's helpful, but just thought I'd post that too

[2020-07-14 16:29] #39 closed, assigned to jmprathab

[2020-07-15 14:28] jmprathab opened #41 "Implement pagination for GET /users endpoint"
Implement pagination for GET /users endpoint

GET /users?limit=x -> List only x number of users
- 0 <= x <= 200 (Why 200? - Just a sensible limit)

GET /users?limit=x&start=y -> List next set of x users starting from y
- 0 <= y <= INTEGER_MAX

[2020-07-17 13:59] Tobi406 opened #43 "Delete admins endpoint throws 500"
When calling `/community/:communityId/admin/:adminId` using the `DELETE` method, a 500 error is returned because a `ConcurrentModificationException` is thrown.

Stacktrace:
[code]

[2020-07-17 14:02] Tobi406 opened #44 "NullPointer exception on non-administrator user"
When `GET`ting from `/users/:userId` a `NullPointerException` is thrown when a user is requested, that isn't an administrator anywhere.

As this exception was introduced by me, also: ***Sorry***

Stacktrace:
[code]

[2020-07-17 15:03] jmprathab commented on #43
@Tobi406 Following are the modifications which I am planning to do.

* Changing `/community/:communityId/admin/:adminId` to `/communities/:communityId/admins/:adminId`
* API will not list community admins in the response body and would rather only return status codes.
* HTTP Response on successful delete - `204 No Content`
* HTTP Response on invalid community or admin id - `404 Not Found`

[2020-07-18 04:58] jmprathab opened #46 "Capture duration of stay for each house member"
Ability to add the duration of stay for each house member. Users should be able to set From date and To date during which a member stayed in the house.

## Endpoints
* `GET /houses/{houseId}/rentals` - Which returns a list of members and their time range of stay. End time is empty for currently staying member
* `POST /houses/{houseId}/rentals` - Create a new rental for a house member. Get the star

[2020-07-18 05:06] jmprathab opened #47 "Ability to add documents for a house member"
* Users should be able to upload an image(ID proof or any other government document for identification) for a house member.
* Limit the size and resolution of this image to a sensible value(Probably overall image size should be less than 250 KB).
* Ideally Frontend should compress the image, but then if frontend fails to do the compression to an acceptable limit then the server can compress and pe

[2020-07-18 05:38] jmprathab opened #48 "Community admin should be able to schedule payments for house members"
* Community admin should be able to schedule payments such as - Electricity bill, House rent, Water charge and what not? (Type of bill can be captured in a free form tag) for a house member.

[2020-07-18 12:07] #44 closed, assigned to jmprathab

[2020-07-18 12:24] Tobi406 commented on #43
Still not quite working for me.
`http://{{ENV_URL}}/communities/e37117e6-feda-4fab-bdb9-649b439ed7c5/admins` outputs
[code]

Then I do  DELETE `http://localhost:8080/community/e37117e6-feda-4fab-bdb9-649b439ed7c5/admins/ec3b3fe0-3e41-436e-83aa-dab7f80c68cc` and get 404 not found.

[2020-07-18 16:43] Tobi406 opened #49 "/houses and /houses/:houseId endpoint"
A `/houses` and `/houses/:houseId` endpoint to list all houses or get information about a specific one. (Responses should be similar to `/communities` and `/communities/:communityId`)

[2020-07-19 03:07] jmprathab commented on #43
@Tobi406 Seems to be working for me🤔

`curl -H "Authorization: Bearer {{TOKEN}}" -w %{http_code} -X DELETE http://localhost:8080/communities/default-community-id-for-testing/admins/first-admin-user-id`

Returns `204` as expected.

Tried with another userId as well and it seems to be working fine. Can you give steps to reproduce?

[2020-07-19 04:17] #49 closed, assigned to jmprathab

[2020-07-19 04:23] jmprathab opened #51 "CI pipeline fails"
Gradle build fails with a missing file

[2020-07-19 04:24] #51 closed, assigned to jmprathab

[2020-07-19 07:50] jmprathab commented on #30
jmprathab/MyHome#50 closes this.

[2020-07-19 07:50] #30 closed, assigned to gangadhargo

[2020-07-19 12:43] Tobi406 commented on #43
Blame me. I used `community` instead of `communities` in the URL

[2020-07-19 12:43] #43 closed, assigned to jmprathab, Tobi406

[2020-07-19 14:04] Tobi406 opened #52 "Can't add house members"
## 🐛 Describe the bug
When adding a house member a successful response is returned, but the member is not actually added to the house.

## ⚠️ Current behavior
Member gets not added to the house

## ✅ Expected behavior
Member gets added to the house

## 💣 Steps to reproduce

Use the last two postman actions.

## 📷 Screenshots
![image](https://user-images.githubusercontent.com/43016900/87876576-4b80

[2020-07-20 16:24] #52 closed, assigned to jmprathab

[2020-07-23 03:07] #7 closed, assigned to Sountastic

[2020-07-23 03:07] #21 closed, assigned to Sountastic

[2020-07-23 03:12] jmprathab commented on #38
FYI @amirabramovich

[2020-07-23 04:15] jmprathab opened #55 "Provide good default values during startup"
## ⚠️ Is your feature request related to a problem? Please describe

Current bootstrap data is very less.

## 💡 Describe the solution you'd like

Add more data. For instance, Add 50 test users during startup, add 50 communities during startup.

## 🤚 Do you want to develop this feature yourself?

- [x] Yes
- [ ] No

[2020-07-24 08:48] Tobi406 opened #56 "Delete house member endpoint throws 500"
## 🐛 Describe the bug

When trying to delete a house member a 500 is sometimes thrown because of a ConcurrentModifcationException.

## ⚠️ Current behavior
The house member will not be deleted all the time.

## ✅ Expected behavior

The house member gets just deleted

## 💣 Steps to reproduce

`curl -X DELETE "http://localhost:8080/houses/default-house-id-for-testing/members/{{MEMBER_ID}}" -H "Author

[2020-07-24 08:49] Tobi406 commented on #56
Note that it also throws a 415 with `"message":"Content type '' not supported"` when not specifying `Content-type: application/json;`, this should probably be changed too

[2020-07-24 14:11] jmprathab opened #57 "All collection API should return sorted data"
## ⚠️ Is your feature request related to a problem? Please describe

Currently all API endpoints does not return sorted data. This becomes difficult when using pagination

## 💡 Describe the solution you'd like

All APIs which return collections should sort the result. Endpoint can get `sort` as a param and sort it based on that.

## 🤚 Do you want to develop this feature yourself?

- [ ] Yes
- [ ]

[2020-07-25 06:40] jmprathab opened #59 "Replace deprecated APIs"
## 🐛 Describe the bug

* Usage of deprecated APIs should be removed.

## ⚠️ Current behavior

* `MyHomeAuthenticationFilter` - This class uses deprecated `io.jsonwebtoken` APIs.

## ✅ Expected behavior

* Usage of deprecated APIs should be removed.

## 💣 Steps to reproduce

* Compiler the source code to get the exact warning.

## 📷 Screenshots

* None

## 📱 Tech info

- Device: All
- OS: All
- Lib

[2020-07-25 07:42] jmprathab opened #60 "`/houses/{houseId}/members/{memberId}` should return status codes rather than JSON body"
## 🐛 Describe the bug

* DELETE APIs should not return deleted resources

## ⚠️ Current behavior

* `/houses/{houseId}/members/{memberId}` API is currently returning all the deleted members from the house.

## ✅ Expected behavior

* Return status codes instead of returning a collection as JSON/XML body.

## 💣 Steps to reproduce

* Execute `DELETE` house member API.

[2020-07-25 08:20] jmprathab opened #61 "Move CORS URL to properties file"
## 🐛 Describe the bug

* Cors URL is configured to be `localhost:3000`. There is no way to configure this externally.

## ⚠️ Current behavior

* Cors URL is configured to be `localhost:3000`. There is no way to configure this externally.

## ✅ Expected behavior

* Move the URL to `application.yml` file.

## Code pointers

* `CorsConfig.java`

[2020-07-25 12:44] Tobi406 opened #63 "Delete community endpoint throws 500"
## 🐛 Describe the bug

When using the delete community endpoint (`DELETE /communities/:communityId`) a 500 with a returned error message and an exception in the console are thrown.

## ⚠️ Current behavior
Error message:
[code]
Exception in console:
[code]

## ✅ Expected behavior

## 💣 Steps to reproduce

[code]
## 📱 Tech info

- OS: Windows
- Library/App version: 4ad16d3b55db347dabfa38207e77753c44

[2020-07-26 08:16] #55 closed, assigned to jmprathab

[2020-07-26 21:40] DDmit04 commented on #63
After community deletion all houses (and house members) in this community should be deleted too?

[2020-07-26 21:40] edwardUL99 commented on #59
I can take a look at this

[2020-07-26 22:01] DDmit04 opened #67 "Get community admins endpoint throws 500"
## 🐛 Describe the bug

When using the GET community admins endpoint (`/communities/{communityId}/admins`) with invalid communityId a 500 with a returned error message and an exception in the console are thrown.

## ⚠️ Current behavior

[code]
stack trace:
[code]
## ✅ Expected behavior

Return code 404 may be?

## 💣 Steps to reproduce

[code]

## 📱 Tech info

- OS: Windows
- Library/App version: 4a

[2020-07-26 22:03] edwardUL99 commented on #59
This is my first contribution to open-source so forgive my naivety. I got rid of the deprecated function calls and replaced them with the replacement functions. How do I test everything is supposed to work as expected?

[2020-07-27 02:03] jmprathab commented on #59
@edwardUL99 Thanks for the interest! It is wonderful to hear that we are part of your first time contribution.
Once you remove the usage of deprecated API, you can hit `/users/login` endpoint and pass the necessary parameters to the REST call. We are expecting it to return a valid JWT as part of `token` header in HTTP response.

Tips
1. Import postman collection inside postman folder, this has lot

[2020-07-27 03:01] jmprathab commented on #63
@DDmit04 It should not be cascaded. Deletion on community should not delete the houses,

[2020-07-27 03:11] #61 closed, assigned to nobody

[2020-07-27 03:12] #60 closed, assigned to nobody

[2020-07-27 08:13] Tobi406 commented on #63
As far as I see removing all houses from the deleted community fixes this quite simply.
If a community is deleted and the house is not deleted, we can't add nor delete it, even tough it is on the database, a method for that is missing (which I don't think is a huge issue)

[2020-07-27 09:01] jmprathab commented on #63
@Tobi406, @DDmit04  I am okay with cascading delete if it makes the implementation simple for now.
Speaking from a functionality point of view, this should be avoided - probably we can track it for the future.

[2020-07-27 09:39] Tobi406 commented on #56
Seems to work now.

Thank you @DDmit04!

[2020-07-27 09:39] #56 closed, assigned to nobody

[2020-07-28 06:45] #63 closed, assigned to nobody

[2020-07-28 06:45] #67 closed, assigned to nobody

[2020-07-28 17:45] mslowiak opened #70 "Introduce lombok library"
## ⚠️ Is your feature request related to a problem? Please describe

During the code development there is a lot of common methods that need to be generated.

## 💡 Describe the solution you'd like

Lombok library allows to generate getters, setters, constructors and more with simple annotation over class.

## 🤚 Do you want to develop this feature yourself?

- [x] Yes
- [ ] No

[2020-07-28 17:47] mslowiak commented on #70
Oh I see it is used but not in every place, closing

[2020-07-28 17:47] #70 closed, assigned to nobody

[2020-07-28 17:50] mslowiak commented on #41
Should be closed because of https://github.com/jmprathab/MyHome/pull/53

[2020-07-28 17:51] mslowiak commented on #38
Hi there.
There is a `UserControllerTest` in test code but this is not an unit test.
It is rather integration test.
What should be done with that?

[2020-07-28 18:02] mslowiak commented on #46
1. Should it be a new endpoint?
2. Who would have access to that endpoint?
3. If so, we should have another entity to store all visits in house, right?

[2020-07-28 18:03] mslowiak commented on #47
When this endpoint will be called/hitted? What is the use case?

[2020-07-28 18:06] amirabramovich commented on #38
That is a unit test which test the controller, I agree that it reminds integration test a bit, but I don't have a better idea of testing the controllers. If you have any better idea, feel free to improve the tests.

[2020-07-28 18:11] Tobi406 commented on #41
#53 was reverted, but #65 was merged

[2020-07-28 18:11] #41 closed, assigned to nobody

[2020-07-28 19:18] mslowiak commented on #38
@amirabramovich I will raise PR with proposal

[2020-07-28 20:17] mslowiak opened #73 "UserController - id with String type"
## 🐛 Describe the bug
In `UserController` there is a `getUserDetails(String userId)` method that has id as a String type.
This can allow to pass a non-numeric value to API call.

## ⚠️ Current behavior

`String userId`

## ✅ Expected behavior

`Integer userId`

## 📱 Tech info

- Device: All
- OS: All
- Library/App version: Java8

[2020-07-28 20:38] Tobi406 commented on #73
The userId is an UUID so I don't think Integer is the correct type for that

[2020-07-28 20:46] mslowiak commented on #73
So the question is, why there is id and userId from database perspective? Why id cannot be utilized instead of userId?

[2020-07-29 11:31] jmprathab opened #77 "Enforce expiration validation in JWT"
Enforce expiration validation in JWT

## ⚠️ Current behavior

* JWT expiration date is not taken into account during validation.

## ✅ Expected behavior

* A JWT should not be valid once it has expired.

## 💣 Steps to reproduce

* Write a Unit test and pass an invalid JWT.

[2020-07-29 13:48] mslowiak commented on #77
I can take this.
@jmprathab Do you even considered to switch jwt library to `com.auth0:java-jwt`?
It is simpler to use IMHO.
![image](https://user-images.githubusercontent.com/18486535/88808248-ea174980-d1b2-11ea-90dd-c1189fc005e4.png)

[2020-07-29 14:39] jmprathab commented on #59
Fixed with PR https://github.com/jmprathab/MyHome/pull/74. Hence closing.

[2020-07-29 14:39] #59 closed, assigned to edwardUL99

[2020-07-29 14:40] Govardhan10 commented on #77
I tried to reproduce this issue by changing the expiry time to 60 seconds for local debugging , after 60 seconds I am getting 403 (looks like working fine in my local environment)

Please find the trace :
JWT expired at 2020-07-29T14:51:22Z. Current time: 2020-07-29T14:52:14Z, a difference of 52632 milliseconds.

[2020-07-29 16:27] jmprathab commented on #77
Many thanks for checking 🙏. I was never able to see a visible code which does the expiration time validation, so I raised an tracking issue. Let me close this. Thanks again 🙌

[2020-07-29 16:27] #77 closed, assigned to Govardhan10

[2020-07-29 16:32] jmprathab commented on #77
Now I remember using `com.auth0:java-jwt` for one of my old project. Does it offer anything more in functionality other than ease of use?

Your call. If you feel it is better to migrate to `com.auth0:java-jwt` we can do so.

But, I would request you to raise a PR after approving jmprathab/MyHome#76 😊

[2020-07-29 16:46] jmprathab commented on #73
@mslowiak, In general, it is a good practice to have a separate external ID(UUID) and an internal ID(DB id).

The idea behind having UUID as a user id is due to security reasons. For instance, if db id is exposed to user as a user id, it is easy to guess that a user id with a value of n-1 exists.

Another reason is to migrate to a database which does not have an ability to generate auto-incrementi

[2020-07-29 16:46] #73 closed, assigned to nobody

[2020-07-29 18:29] mslowiak commented on #57
I will work on that :+1:

[2020-07-29 22:53] DDmit04 opened #78 "HouseController POST throw 500 code error"
## 🐛 Describe the bug

Using POST (`/houses/{houseId}/members`) in HouseController with invalid `houseId` causes 500 code error.

## ⚠️ Current behavior

[code]
stack trace:
[code]

## ✅ Expected behavior

return 404

## 💣 Steps to reproduce
[code]

[2020-07-30 02:38] jmprathab commented on #78
Resolved by jmprathab/MyHome/pull/79.

[2020-07-30 02:38] #78 closed, assigned to DDmit04

[2020-07-30 12:17] DDmit04 opened #80 "Test database data loading control"
## 🐛 Describe the bug

Loading test data to databse can't be configured externaly (load data or not)

## ⚠️ Current behavior

Loading test data in database controls from `DataLoader` code
[code]
## ✅ Expected behavior

application.yml variable that controls the loaded data or not. May be create separate application.yml files for dev, prod and tests.

[2020-07-30 12:33] #38 closed, assigned to nobody

[2020-07-31 14:58] #47 closed, assigned to nobody

[2020-07-31 15:02] amirabramovich commented on #80
Can you please explain the purpose of this class (or actually whole package)?
It seems like test code, it should be in test package and not src...

[2020-07-31 15:02] jmprathab opened #82 "Compress images on the fly which are uploaded"
## Compress the images uploaded to the document endpoint without staging

* As of now, the document/image which is uploaded is staged and then compressed and stored to DB.

## 💡 Describe the solution you'd like

* This should be done on the fly without staging.

[2020-07-31 15:02] jmprathab commented on #82
CC: @mslowiak and @DDmit04

[2020-07-31 15:05] jmprathab commented on #80
@amirabramovich The purpose of this class is to provide some default values during startup. The idea is to give anyone who tries out the application for the first time with good values. Also, it becomes easier to quickly test developed features.

So, yeah, these are not test classes.

[2020-07-31 15:16] jmprathab opened #83 "Tests takes a lot of time to execute"
## 🐛 Describe the bug

* It takes a lot of time to execute tests

## ⚠️ Current behavior

* Tests takes close to 10 mins to execute.

## ✅ Expected behavior

* It should take considerably less time to execute

## 💣 Steps to reproduce

* `gradlew build`

[2020-07-31 15:16] DDmit04 commented on #82
It is suitable? [Commit](https://github.com/jmprathab/MyHome/pull/75/commits/14ade69f34d99ce4f8d26b651133621d9576be28)

[2020-07-31 15:19] amirabramovich commented on #80
Hi, I found this solution which seems pretty good:
https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-database-initialization

I can make this import.sql file in order to solve the bug. You can assign this issue to me.

[2020-07-31 15:22] DDmit04 opened #84 "Create part of tests for HouseMemberDocument service (create and update document methods)"
## ⚠️ Is your feature request related to a problem? Please describe

Create rest of unit tests for HouseMemberDocument service

## 💡 Describe the solution you'd like

Create separate test file with applicationContext load

## 🤚 Do you want to develop this feature yourself?

- [x] Yes
- [ ] No

[2020-07-31 15:23] jmprathab commented on #82
This stages the file right?

[2020-07-31 15:25] jmprathab commented on #84
@DDmit04 My suggestion is to take a quick look at the implementation of `HealthCheckControllerIntegrationTest.java`. This test does not take a lot of time to execute.

[2020-07-31 15:27] jmprathab commented on #80
@amirabramovich I would suggest to use `data.sql`.

[2020-07-31 15:40] DDmit04 commented on #82
In this Commit already not. I replace File by ByteStream

[2020-07-31 15:49] jmprathab commented on #82
@DDmit04 So are you saying with your changes, We are not writing the image to a file and then storing to a DB ?
Instead, we are directly storing the image to a database?

It looks like we are writing to a [file](https://github.com/jmprathab/MyHome/pull/75/commits/14ade69f34d99ce4f8d26b651133621d9576be28#diff-80b50e57606c7485c463e68e6bca357cR113)

[2020-07-31 15:58] DDmit04 commented on #82
This method write image to byteStream. In previos version I wrote image to FileSteam which created from file. Now I directly create byteStream and write without file.

[2020-07-31 15:58] DDmit04 commented on #82
No files creating in process. I Just forgot rename method, sorry.

[2020-07-31 16:06] jmprathab commented on #82
Absolutely not a problem! thanks for clarifying. Please close this issue once you rename the methods. Thanks!

[2020-07-31 16:10] DDmit04 commented on #82
Ok

[2020-07-31 16:12] jmprathab commented on #80
@amirabramovich I think as of now the current approach(`DataLoader.java`) works fine. I know it is difficult to write SQL queries to load a lot of data and that too to multiple tables.

Please feel free to take this up with less priority if you feel so.

[2020-07-31 21:55] DDmit04 commented on #82
It seems that necessary changes already merged in master [here](https://github.com/jmprathab/MyHome/blob/master/src/main/java/com/myhome/services/springdatajpa/HouseMemberDocumentSDJpaService.java#L118)

[2020-07-31 22:01] DDmit04 commented on #84
thx

[2020-08-01 04:15] jmprathab commented on #82
Seems like it is [not completely](https://github.com/jmprathab/MyHome/blob/master/src/main/java/com/myhome/services/springdatajpa/HouseMemberDocumentSDJpaService.java#L113) renamed.

[2020-08-01 07:15] Govardhan10 commented on #83
Hi Prathab,

I have taken the test result report of all tests , according the results it is taking around 2 secs to complete execution of the tests
![TestResults](https://user-images.githubusercontent.com/37766383/89096492-b297df80-d3f4-11ea-8e9e-9d7dbf05b97e.png)

[2020-08-01 09:37] jmprathab commented on #83
Hi @Govardhan10,

How were these tests executed? Using what command. I just ran `gradle build` It took almost 8 minutes to complete.

![Screenshot 2020-08-01 at 3 06 40 PM](https://user-images.githubusercontent.com/11979066/89098843-a9187280-d408-11ea-8c5d-fb5b0b7d6922.png)

[2020-08-01 19:02] edwardUL99 commented on #48
Is this simply just adding a feature to record a payment for a user like in a Java class, e.g. a Bill and then the user can create this bill and apply it to the member?

[2020-08-01 23:32] DDmit04 opened #87 "House member documents integration tests"
## ⚠️ Is your feature request related to a problem? Please describe

add integration tests for `HouseMemberDocumentController` and `HouseMemberDocumentService`

## 🤚 Do you want to develop this feature yourself?

- [x] Yes
- [ ] No

[2020-08-01 23:49] edwardUL99 commented on #48
You can assign me to it if you want and I'll figure it out. I have updated my fork and started working on it

[2020-08-02 02:33] #84 closed, assigned to DDmit04

[2020-08-02 02:34] jmprathab commented on #82
Fixed by PR https://github.com/jmprathab/MyHome/pull/86. Hence closing this issue.

[2020-08-02 02:34] #82 closed, assigned to DDmit04

[2020-08-02 02:44] jmprathab commented on #48
@edwardUL99 You are right. This is to record payment for a user.

Example scenario:

An API endpoint should allow adding a payment for a particular house member. This payment entity should have details like - Amount
- Description
- Tags (To capture what kind of bill, this tag should be free form)
- Due date for the payment
- Is this payment recurring?

Each of these sub-tasks can be taken up in a

[2020-08-02 02:51] jmprathab commented on #46
@mslowiak

* Yes, this should be a new endpoint.
* As of now, we do not have access control for the application. But, in future only community admin should have access to this endpoint(This is something which we can take care of in future)
* It should be a separate entity for each house.

[2020-08-02 13:18] DDmit04 opened #88 "User controller create throws 500"
## 🐛 Describe the bug

When POST (`/users`) with `email`, the user with which already exists then get 500

## ⚠️ Current behavior

[code]
full trace:
[code]
## ✅ Expected behavior

notification that the user already exists

## 💣 Steps to reproduce

Call twice:

[code]

[2020-08-03 05:07] #88 closed, assigned to DDmit04

[2020-08-03 10:23] edwardUL99 commented on #48
I have it set up and fixed any database errors. I have added /members/payments which schedules a new payment, /members/payments/{paymentId} which lists a payment's details, /members/{memberId}/payments which lists all the scheduled payments for a certain user and /communities/{communityId}/admins/{adminId}/payments which lists all the payments that admin scheduled. I have the 3 endpoints working b

[2020-08-03 10:44] jmprathab commented on #48
@edwardUL99 Please skip `/communities/{communityId}/admins/{adminId}/payments` as of now if it seems complicated to implement now for various reasons/other bugs.

[2020-08-03 10:45] edwardUL99 commented on #48
I have it implemented and it only takes 25 ms to respond but I can remove it

[2020-08-03 10:46] jmprathab commented on #48
Thanks. That should be fine.
Please create a tracking bug if you feel there is a better way to handle it. We will take care of performance improvement in the future.

[2020-08-03 11:02] edwardUL99 opened #91 "CommunityAdminRepository not storing unique admins"
## 🐛 Describe the bug

Added a method to CommunityAdminRepisitory to findAdminById but when used, an exception is thrown saying multiple results are returned where only one is expected. This is because it appears that multiple community admins with the same ID are being added to the repository

## ⚠️ Current behavior

When adding a community admin to a community, the community controller takes the

[2020-08-03 16:12] mslowiak commented on #80
@jmprathab We can also switch approach to liquibase connected with a dedicated profile. It supports Java dataloader classes migration.
https://stackoverflow.com/questions/11987460/java-code-changeset-in-liquibase

[2020-08-03 16:26] jmprathab commented on #80
This is the first time I am hearing about liquibase. I am just curious about what value addition does it bring? I need to explore on this.

[2020-08-03 18:58] DDmit04 commented on #91
add that POST (`/communities/{communityId}/admins`) returns empty community in case of communityId is invalid, this is correct behavior?

[2020-08-03 18:58] DDmit04 commented on #91
can I work on this?

[2020-08-03 20:07] mslowiak commented on #80
It is a tool that help with database version control. Check this out.

[2020-08-04 00:13] DDmit04 commented on #91
There is no admin comtroll endpoint. Where new admins must be created? Now they creating in `CommunityService` when list of admins adding to community. I think we should create CRUD for controll `CommunityAdmin` and `CommunityHouse` (`HouseController` can't create or delete houses)

[2020-08-04 05:59] VinitaNirmal commented on #46
@jmprathab Can I pick this task?

[2020-08-04 06:34] edwardUL99 commented on #91
@DDmit04 I noticed that and because of it I am having trouble creating unit tests for the Payments request because I need a house to be created and add a house member added to it to test some features of the payments. Maybe @jmprathab has suggestions

[2020-08-04 12:52] jmprathab commented on #91
This is not correct. It should ideally return HTTP 400 on invalid community id.

[2020-08-04 13:04] jmprathab commented on #91
@DDmit04  and @edwardUL99

**Short answer:** It was a conscious decision to not allow `HouseController` to create and delete houses.

**Long answer:**
Creating and deleting house always needs context of community(`communityId`). If this is implemented in `HouseController` then users of our REST API will need to send communityId as part of request body and server will need to validate it for every

[2020-08-04 13:32] jmprathab commented on #80
Closing this issue for now with PR#85. Let us open new issue for enhancement.

[2020-08-04 13:32] #80 closed, assigned to amirabramovich

[2020-08-04 13:36] jmprathab opened #93 "[FEATURE TASK] Amenity Management"
## ⚠️ Is your feature request related to a problem? Please describe

* Add Amenities to a community. Example, Gym, Swimming Pool, Tennis Court.

## 💡 Describe the solution you'd like

Following are the sub-tasks

- [x] Add amenity JPA entity(#117)
- [x] Add an amenity to a community (#108)
- [x] Get a list of amenities within a given community (#109)
- [x] Get details of an amenity(#110)
- [x] Upd

[2020-08-04 13:39] jmprathab opened #94 "[FEATURE TASK] Amenity booking management"
## ⚠️ Is your feature request related to a problem? Please describe

* House members should be able to book a slot for an amenity. Example, book tennis court from 10 AM to 11 AM.

## 💡 Describe the solution you'd like

* Can be taken up only after jmprathab/MyHome#93

## Sub-tasks

- [ ] Book an amenity(#113)
- [ ] Get all bookings for an amenity with an optional time range(#114)
- [x] Update an a

[2020-08-04 13:53] jmprathab opened #95 "Load postman data for easier testing"
## 🐛 Describe the bug

* `DataLoader.java` has a commented out method call `loadPostmanData()`. The intention of this method is to aid in quickly testing out a new feature.

## ⚠️ Current behavior

* This method is commented out as of now. Which makes it cumbersome to quickly test out with pre-existing data.

## ✅ Expected behavior

* `*.postman` file inside `postman` folder can be imported inside

[2020-08-04 13:53] jmprathab commented on #95
CC: @amirabramovich

[2020-08-06 19:07] mslowiak opened #100 "[FEATURE TASK] Services and controllers unit tests"
## Task description

There is a need to create unit tests for controllers

## Tasks

The following tasks will need to be carried out:

- [x]  CommunityController unit tests (#101)

- [x] HealthCheckController unit tests (#102)

- [x] HouseController unit tests (#103)

- [x] CommunitySDJpaService unit tests (#104)

- [x] HouseSDJpaService unit tests (#105)

- [x] UserSDJpaService unit tests (#106)

[2020-08-06 19:10] mslowiak opened #101 "CommunityController unit tests"
## Task description

There is a need to create unit tests for `CommunityController`.
As an example, you can have a look at `UserControllerTest`.

## Task Relationships
This task is a sub-task of: #100

[2020-08-06 19:11] mslowiak opened #102 "HealthCheckController unit tests"
## Task description

There is a need to create unit tests for `HealthCheckController`.
As an example, you can have a look at `UserControllerTest`.

## Task Relationships
This task is a sub-task of: #100

[2020-08-06 19:12] mslowiak opened #103 "HouseController unit tests"
## Task description

There is a need to create unit tests for `HouseController`.
As an example, you can have a look at `UserControllerTest`.

## Task Relationships
This task is a sub-task of: #100

[2020-08-06 19:12] mslowiak opened #104 "CommunitySDJpaService unit tests"
## Task description

There is a need to create unit tests for `CommunitySDJpaService`.
As an example, you can have a look at `UserControllerTest`.

## Task Relationships
This task is a sub-task of: #100

[2020-08-06 19:13] mslowiak opened #105 "HouseSDJpaService unit tests"
## Task description

There is a need to create unit tests for `HouseSDJpaService`.
As an example, you can have a look at `UserControllerTest`.

## Task Relationships
This task is a sub-task of: #100

[2020-08-06 19:13] mslowiak opened #106 "UserSDJpaService unit tests"
## Task description

There is a need to create unit tests for `UserSDJpaService`.
As an example, you can have a look at `UserControllerTest`.

## Task Relationships
This task is a sub-task of: #100

[2020-08-07 15:50] #91 closed, assigned to DDmit04

[2020-08-07 15:50] #95 closed, assigned to nobody

[2020-08-08 04:21] #57 closed, assigned to mslowiak

[2020-08-08 09:11] jmprathab opened #108 "POST endpoint for adding amenity to a community"
## ⚠️ Is your feature request related to a problem? Please describe

* Endpoint for adding amenity to a community

## 💡 Describe the solution you'd like

* `POST /communities/{communityId}/amenities`
* Update postman collection

## Task Relationship

Subtask of: jmprathab/MyHome#93

[2020-08-08 09:13] jmprathab opened #109 "Endpoint to list all amenities of a community"
## ⚠️ Is your feature request related to a problem? Please describe

* Get a list of amenities within a given community

## 💡 Describe the solution you'd like

* `GET /communities/{communityId}/amenities`

## Task Relationship

Subtask of: jmprathab/MyHome#93

[2020-08-08 09:15] jmprathab opened #110 "Endpoint for getting details of an amenity"
## ⚠️ Is your feature request related to a problem? Please describe

* Get details of an amenity

## 💡 Describe the solution you'd like

* `GET /amenities/{amenityId}`

## Task Relationship

Subtask of: jmprathab/MyHome#93

[2020-08-08 09:17] jmprathab opened #111 "Endpoint for updating an amenity"
## ⚠️ Is your feature request related to a problem? Please describe

* Endpoint for updating an amenity

## 💡 Describe the solution you'd like

* `PUT /amenities/{amenityId}`

## Task Relationship

Subtask of: jmprathab/MyHome#93

[2020-08-08 09:18] jmprathab opened #112 "Endpoing for deleting an amenity"
## ⚠️ Is your feature request related to a problem? Please describe

* REST endpoint which deletes an amenity.

## 💡 Describe the solution you'd like

* `DELETE /amenities/{amenityId}`

## Task Relationship

Subtask of: jmprathab/MyHome#93

[2020-08-08 09:32] jmprathab opened #113 "Endpoint for booking an amenity"
## ⚠️ Is your feature request related to a problem? Please describe

* Endpoint for booking an amenity

## 💡 Describe the solution you'd like

* `POST /amenities/{amenityId}/bookings`
* Update postman collection

## Task Relationship

Subtask of: jmprathab/MyHome#94

[2020-08-08 09:33] jmprathab opened #114 "Get all bookings for an amenity with an optional time range"
## ⚠️ Is your feature request related to a problem? Please describe

* Get all bookings for an amenity with an optional time range

## 💡 Describe the solution you'd like

* `GET /amenities/{amenityId}/bookings?start='01-01-2020'&end='01-02-2020'`
* The API should support pagination
* Code pointers for pagination - `CommunityService.java::listAll`
* Update postman collection

## Task Relationship

[2020-08-08 09:34] jmprathab opened #115 "Update an amenity booking"
## ⚠️ Is your feature request related to a problem? Please describe

* Update a future booking

## 💡 Describe the solution you'd like

* `PUT /amenities/{amenityId}/bookings/{bookingId}`
* Only allow updating a future booking
* Update postman collection

## Task Relationship

Subtask of: jmprathab/MyHome#94

[2020-08-08 09:35] jmprathab opened #116 "Delete an amenity booking"
## ⚠️ Is your feature request related to a problem? Please describe

* Delete an amenity booking

## 💡 Describe the solution you'd like

* `DELETE /amenities/{amenityId}/bookings/{bookingId}`
* Only allow deleting a future booking
* Update postman collection

## Task Relationship

Subtask of: jmprathab/MyHome#94

[2020-08-08 09:45] jmprathab opened #117 "Add amenity JPA entity"
## ⚠️ Is your feature request related to a problem? Please describe

* Add amenity JPA entity

## 💡 Describe the solution you'd like

* Add a new JPA entity `CommunityAmenity.java`

## Task Relationship

Subtask of: jmprathab/MyHome#93

[2020-08-08 13:13] DDmit04 commented on #114
Is pagination needed for result bookings list?

[2020-08-08 14:43] edwardUL99 commented on #101
I'll get this one done

[2020-08-08 15:06] jmprathab commented on #114
Yes. It is required. I will modify the comments to include that. Thanks!

[2020-08-08 16:57] DDmit04 opened #119 "Community hibernate query perfomance"
## ⚠️ Is your feature request related to a problem? Please describe

Fetch type for all `@ManyToMany` and `@OneToMany` fields in `Community` and other entities are `EAGER`

For example - POST (`/communities/{communityId}`) calls `communityRepository.findByCommunityId(communityId)` and hibernate execute this querry:

[code]

if use Fetch type LAZY for `admin` and `houses`:
[code]

and response from

[2020-08-08 17:04] jmprathab commented on #119
I addition to this, another suggestion is to properly use `CascadeType` and `orphanRemoval=true`

[2020-08-08 22:43] edwardUL99 opened #121 "Adding CommunityAdmin to community doesn't actually add them"
## 🐛 Describe the bug

When using Postman to add a user id to a community as an admin, in the response body, the added user id does not show up. I debugged the code and found it was not added in the community's admin set either. I am unclear of what Add community admin is supposed to do since, we can't seem to create a community admin, I assumed it was just add a user id

## ⚠️ Current behavior

W

[2020-08-09 12:38] DDmit04 commented on #87
Is this issue closed? I made mistake and write `Closing` instead `Closes` in my pull request description

[2020-08-09 12:59] jmprathab commented on #87
@DDmit04 Please close this in case you have done all the changes for this.

[2020-08-09 14:28] #87 closed, assigned to DDmit04

[2020-08-09 14:44] DDmit04 commented on #121
May be we should megre `User` and `CommunityAdmin` entities?
And get something like this:
[code]
And regular users will have an empty set of communities. Or add field `userRole` wich contain info about user's permissions

[2020-08-09 23:37] DDmit04 commented on #110
What fields must be present in response? I see something like this:
[code]
May be without dates

[2020-08-10 06:42] #106 closed, assigned to nobody

[2020-08-10 18:33] edwardUL99 commented on #121
I'm not sure. To be honest, I think it just requires changing the logic surrounding adding an admin. My understanding that adding a user to a community makes them an admin is wrong as they are different entities in the code and it's unclear how to map a user object to a community admin object. However, there does not appear to be an endpoint/means to create a community admin either is there, so wh

[2020-08-10 18:50] #101 closed, assigned to edwardUL99

[2020-08-10 18:51] #48 closed, assigned to edwardUL99

[2020-08-10 23:27] DDmit04 commented on #105
i'll take this

[2020-08-11 01:27] DDmit04 opened #123 "Strange HouseSDJpaService behavior"
## 🐛 Describe the bug

In HouseSDJpaService I found a few things that seemed strange to me:

## ⚠️ Current behavior

First: `addHouseMembers` - Is it necessary to save empty `HouseMemberDocument`? I mean it works well without this `for` loop.
[code]
Second: `deleteMemberFromHouse` - this method remove `HouseMember` from `CommunityHouse` but it not delete `HouseMember` entity in database. In app no

[2020-08-11 01:48] DDmit04 opened #124 "@Data annotations on classes can still cause StackOwerflowException (@toString)"
### 🐛 Describe the bug

`@Data` incudes `@toString` and as `@EqualsAndHashCode` can case `StackOwerflowExcaption`

## ✅ Expected behavior

exlude some fiels from `@toString` like for `@EqualsAndHashCode`

## 📷 Screenshots

<img width="960" alt="123" src="https://user-images.githubusercontent.com/46588421/89847897-c8906780-db8d-11ea-8569-e9a4ad20ce6c.png">

<img width="960" alt="123" src="https://u

[2020-08-11 03:13] jmprathab commented on #121
The merged entity looks good.

To quote @edwardUL99

This is true.

The idea is that all community admins should be a valid `User` entity(But, as of now, the implementation does not enforce that).

[2020-08-11 03:26] #117 closed, assigned to nobody

[2020-08-11 03:40] #105 closed, assigned to DDmit04

[2020-08-11 20:43] edwardUL99 commented on #123
@DDmit04 I think you can safely remove the for loop. If I remember correctly I added it because when I developed it, I had a set of payments in the HouseMember entity and when scheduling payments I would add the payment to this set so that when getting payments for a member endpoint would be called, it can use this set. After I added a payment to this set I would save the house member back into th

[2020-08-11 20:44] edwardUL99 commented on #124
Would you mind listing the classes you found the issues in if you come across more? If I get the time I'll try and recreate it but would be helpful if you end up finding more to list them here.

[2020-08-11 20:47] edwardUL99 commented on #121
Merging them would require a large amount of testing and refactoring if I am correct? This may take me some amount of time so if time is an issue, you can let someone else take a look at it. But, this weekend I should have plenty of time to work away at it with little interruptions :)

[2020-08-11 21:56] DDmit04 commented on #124
@edwardUL99 all classes with bidirectional hibermate relationships

[2020-08-11 22:08] edwardUL99 commented on #124
I'll take a look sometime tomorrow

[2020-08-12 03:43] jmprathab commented on #121
You are right, it would require large amount of refactoring and testing. Feel free to do it at your convenience.

[2020-08-12 18:24] edwardUL99 commented on #124
Do you have steps to recreate?

[2020-08-12 18:39] edwardUL99 commented on #121
SO I assume when this is finished there should no longer be a CommunityAdmin class?

[2020-08-13 09:23] jmprathab commented on #121
You are right.

[2020-08-13 09:32] jmprathab commented on #110
@DDmit04 Only `amenityId` and `description` should be part of the response.

[2020-08-13 11:40] SouradipPoddar commented on #115
Hi,  I'm a beginner in open source. Can I give this a go?

[2020-08-13 15:00] edwardUL99 commented on #121
Great I have an implementation done, just need to test it and see if there's anything else I need to do with it

[2020-08-13 16:42] mslowiak commented on #115
Hey @SouradipPoddar. This issue is related with #93. Feel free to look for something different :-)

[2020-08-13 16:43] #102 closed, assigned to edwardUL99

[2020-08-15 07:02] jmprathab opened #127 "Adding house to community should only return newly added house id"
## 🐛 Describe the bug

* Adding house to community should only return newly added house id

## ⚠️ Current behavior

* It returns all the houses in the community

## ✅ Expected behavior

* Should return only newly added houses

## 💣 Steps to reproduce

* `POST` to `/communities/{communityId}/houses` endpoint

[2020-08-15 15:02] SouradipPoddar commented on #127
Can I take this up?

[2020-08-15 15:34] jmprathab commented on #127
@SouradipPoddar I am working on this. Feel free to pick up something else from the list. https://github.com/jmprathab/MyHome/issues

[2020-08-15 15:37] jmprathab commented on #124
I just faced this issue now. @edwardUL99 To reproduce this, you can just try to call `toString` on a `Community` entity.

[2020-08-15 19:44] edwardUL99 commented on #127
This doesn't happen for me. All it does for me is return a list of the houses that were added in that request, no others

[2020-08-16 05:43] jmprathab commented on #127
Strange. I do get a list of all houses. Are you not on the latest master?

[2020-08-16 13:06] Muhib007dev commented on #46
Whats the status now? Is it fixed?Can I try that out. I am a beginner though.

[2020-08-16 13:07] jmprathab commented on #46
@VinitaNirmal Can you please update the status?

[2020-08-16 18:14] VinitaNirmal commented on #46
@jmprathab I have completed the code and raised the PR. I have made the changes according to the reviews done by you too.

[2020-08-17 00:29] DDmit04 commented on #123
So what about `HouseMember` deleteion? If `HouseMember` was removed from `CommunityHouse` should we just delete it from database?

[2020-08-22 10:08] #121 closed, assigned to edwardUL99

[2020-08-22 15:50] #110 closed, assigned to nobody

[2020-08-22 15:50] #112 closed, assigned to nobody

[2020-08-23 11:44] Tobi406 opened #130 "500 when deleting community"
## 🐛 Describe the bug
The community isn't deleted

## ⚠️ Current behavior
A 500 with a stacktrace is thrown
<details>
<summary>Stack trace</summary>
<br />

[code]
</details>

## ✅ Expected behavior
The community gets deleted

## 💣 Steps to reproduce
Delete a community using `curl -X DELETE -H "Authorization: Bearer {{TOKEN}}" http://localhost:8080/communities/{{COMMUNITY_ID}}`

## 📷 Screenshots

[2020-08-23 11:54] Tobi406 opened #131 "400 on community house delete"
## 🐛 Describe the bug
A 400 is returned when deleting a house on a community

## ⚠️ Current behavior
A 400 is returned and the house is not removed

## ✅ Expected behavior
The house is removed

## 💣 Steps to reproduce
`curl -X DELETE -H "Authorization: Bearer {{AUTH_TOKEN}}" -I http://localhost:8080/communities/{{COMMUNITY_ID}}/houses/{{HOUSE_ID}}`

## 📷 Screenshots

## 📱 Tech info

- Device:
- OS

[2020-08-23 19:11] edwardUL99 commented on #131
I got 204 code with Postman but you're correct with the house not being removed. I have fixed the issue however if you want me to put a pull request out?

[2020-08-23 19:41] edwardUL99 commented on #130
I'm looking at this as well. I have it working using iterator for loops and streams. I tried using all streams but for some reason that was causing bugs also, is that ok?

[2020-08-24 15:38] jmprathab commented on #130
Should be fine.

[2020-08-24 15:40] jmprathab commented on #131
I think `204` is expected. If the removal bug is fixed, why not raise a PR?

[2020-08-24 15:45] jmprathab commented on #83
Closing this as Not reproducible.

[2020-08-24 15:45] #83 closed, assigned to nobody

[2020-08-24 15:48] edwardUL99 commented on #131
I came across an issue when removing a house that had house members added to it. Empty houses deleted fine but ones with members did not. I think I may have it fixed but will put out a pull request when I test it a bit more

[2020-08-29 22:02] edwardUL99 opened #135 "Scheduling a Payment results in a 500 error"
## 🐛 Describe the bug

When you try to schedule a payment you get a 500 error saying a foreign key violation has occurred when trying to update house member:

org.h2.jdbc.JdbcSQLIntegrityConstraintViolationException: Referential integrity constraint violation: "FK2YE4K91HYKI3ILSS8R0R3STNL: PUBLIC.HOUSE_MEMBER FOREIGN KEY(DOCUMENT_ID) REFERENCES PUBLIC.HOUSE_MEMBER_DOCUMENT(ID) (5001)"; SQL stateme

[2020-08-31 03:42] #104 closed, assigned to nobody

[2020-08-31 03:43] #131 closed, assigned to nobody

[2020-08-31 03:46] #130 closed, assigned to nobody

[2020-08-31 03:50] #135 closed, assigned to edwardUL99

[2020-08-31 17:58] #124 closed, assigned to edwardUL99

[2020-08-31 19:36] edwardUL99 opened #140 "CommunitySDJpaServiceTest deleteCommunity fails"
## 🐛 Describe the bug

deleteCommunity fails with the following error:
Wanted 1 time:
-> at com.myhome.services.unit.CommunitySDJpaServiceTest.deleteCommunity(CommunitySDJpaServiceTest.java:346)
But was 3 times:
-> at com.myhome.services.springdatajpa.CommunitySDJpaService.deleteCommunity(CommunitySDJpaService.java:173)
-> at com.myhome.services.springdatajpa.CommunitySDJpaService.removeHouseFromC

[2020-09-02 12:22] #103 closed, assigned to nobody

[2020-09-02 15:27] #100 closed, assigned to nobody

[2020-09-02 20:08] #123 closed, assigned to nobody

[2020-09-05 07:43] mslowiak commented on #93
@jmprathab could you update the status of checkboxes in description?

[2020-09-05 07:43] mslowiak commented on #94
@jmprathab could you update the status of checkboxes in description?

[2020-09-05 09:03] mslowiak commented on #116
Is this endpoint make sense? Could you describe a situation in which this will be valuable @jmprathab?

[2020-09-05 09:04] mslowiak commented on #108
Will work on that

[2020-09-05 09:45] mslowiak commented on #115
@jmprathab Same question just like in https://github.com/jmprathab/MyHome/issues/116

[2020-09-07 04:13] #109 closed, assigned to nobody

[2020-09-08 12:52] jmprathab commented on #93
Done.

[2020-09-08 12:55] jmprathab commented on #94
None of the sub-tasks is implemented I guess.

[2020-09-08 12:57] jmprathab commented on #116
@mslowiak The idea is to cancel a future booking. Let's say I booked a Gym for a time slot, then I decided to cancel it.

[2020-09-08 13:06] jmprathab commented on #115
@mslowiak Users would like to modify the booking time slot.
Thinking about it, it feels like we should not implement this endpoint.
Let users delete the booking and re-book if required. What do you think?

[2020-09-08 18:39] edwardUL99 commented on #111
I'll work on this

[2020-09-09 17:45] zhupanovdm commented on #113
@jmprathab Hello, I'm new in open source, can I take this task?

[2020-09-09 18:40] mslowiak commented on #116
@jmprathab Shouldn't the name of endpoint be a:
`/bookings/{bookingId}/amenities/{amenityId}`
instead of:
`/amenities/{amenityId}/bookings/{bookingId}` ?

[2020-09-09 18:42] mslowiak commented on #115
@jmprathab
Yeah, I would focus on delete - create rather than modify in this special case.
We can think about it in the future.

[2020-09-14 13:13] #140 closed, assigned to edwardUL99

[2020-09-14 13:21] jmprathab commented on #116
@mslowiak Any specific problem with `/amenities/{amenityId}/bookings/{bookingId}`? I thought of keeping it consistent with rest of the HTTP methods on `/amenities/{amenityId}/bookings/{bookingId}`.

[2020-09-14 13:23] jmprathab commented on #115
Closing this as no fix intended. Will be taken up in future if the need arises.

[2020-09-14 13:23] #115 closed, assigned to nobody

[2020-09-14 13:34] jmprathab commented on #113
@zhupanovdm Sure. Request you to comment on your approach before implementing.

[2020-09-15 15:17] mslowiak commented on #116
@jmprathab Amenity is a part of the booking, not like booking is a part of amenity this is why I asked that question.

[2020-09-15 15:41] jmprathab commented on #116
Thinking in terms of that, would it not be applicable for all the tasks under jmprathab/MyHome#94? Do you think we should change all the endpoints in the parent story?

[2020-09-15 21:12] mslowiak commented on #116
I think that it should be changed. If we don't want to make a noise in stories we can add another one which will fix all endpoints after final implementation

[2020-09-16 11:57] jmprathab commented on #116
Proposal sounds good 👍

[2020-09-19 19:28] nlaert commented on #116
Hello, looking for my first PR on open source. Could I take this task or is anyone working on it already?

[2020-09-22 11:08] #119 closed, assigned to nobody

[2020-09-23 13:03] jmprathab commented on #116
@nlaert This is dependent on github.com/jmprathab/MyHome#93 and unfortunately it is not completed yet. Feel free to pick some other issue.

[2020-09-25 21:30] nlaert commented on #114
Hello, I will take this ticket for starting, is that ok? :)

[2020-09-26 02:46] jmprathab commented on #114
@nlaert Sure. I have assigned it to you.

[2020-09-26 10:30] HristianIliev commented on #93
Can I take this up?

[2020-09-26 12:21] mslowiak commented on #93
@jmprathab Is it a duplicate for #108 ?

[2020-09-26 12:24] jmprathab commented on #93
@mslowiak #108 is the actual task under the umbrella of #93. I have updated the title to convey better.

[2020-09-26 12:31] jmprathab commented on #93
@HristianIliev All sub-tasks under this story are assigned to others. Please feel free to pick up some other open issue.

[2020-09-29 14:58] #108 closed, assigned to mslowiak

[2020-10-02 06:18] #111 closed, assigned to edwardUL99

[2020-10-02 16:22] mslowiak commented on #113
@zhupanovdm
Any update from you?

[2020-10-02 16:32] mslowiak commented on #46
@VinitaNirmal
We are waiting for you to resolve the conflicts. Could you do that please :)

[2020-10-02 18:45] mslowiak opened #147 "Implement OpenApi source code generation from yaml schema"
- Create new module with yaml specs - petstore can be got example for start.
- Integrate module with build.
- Service module should has dependency do new module.

[2020-10-03 04:44] #147 closed, assigned to mslowiak

[2020-10-03 07:33] LeVoMihalcea commented on #127
Has this been fixed in the meantime? For me it works as expected.
![image](https://user-images.githubusercontent.com/27742752/94986020-ecf03b00-0563-11eb-9adf-7f19380c4a6b.png)

[2020-10-03 17:29] zhupanovdm commented on #113
Hi. Sorry for silence. There was a lack of spare time. But now I'm in.

[2020-10-04 05:49] jmprathab commented on #127
@LeVoMihalcea I tried it, looks like it is fixed. Thanks for your time and verification!

[2020-10-04 05:49] #127 closed, assigned to LeVoMihalcea

[2020-10-04 05:59] jmprathab commented on #93
Marking the task as "Future complete". Every task under this story is completed.

[2020-10-04 05:59] #93 closed, assigned to nobody

[2020-10-04 06:33] jmprathab opened #149 "Add current user as Admin when creating a community"
## 🐛 Describe the bug

* When creating a new community using `POST /communities` current user should be added as the Admin of the community

## ⚠️ Current behavior

* Admin list of newly created community is empty

## ✅ Expected behavior

* User who creates the community should be an admin of it - Verify this using `GET /communities/:communityId/admins`

## 💣 Steps to reproduce

* `POST /communiti

[2020-10-04 06:37] jmprathab opened #150 "Allow only existing admins to add admins to a community"
## 🐛 Describe the bug

*`POST /communities/:communityId/admins` should be only restricted to existing admins of the community
* Note: Can be only picked up after #149

## ⚠️ Current behavior

* Anyone can now call `POST /communities/:communityId/admins`

## ✅ Expected behavior

* Restrict `POST /communities/:communityId/admins` only to existing admins

## 💣 Steps to reproduce

* `POST /communities

[2020-10-04 06:45] jmprathab opened #151 "Implement Forgot Password functionality"
## ⚠️ Is your feature request related to a problem? Please describe

* Let users reset their password using an API

## 💡 Describe the solution you'd like

* Both "changing old password" and "resetting forgot password" should be supported

## Implementation details

1. User hits `POST /user/password?action=forgot`
2. Server send a mail to User's mail Id with a token to reset password
3. User hits `

[2020-10-04 06:55] jmprathab opened #152 "Restrict creating new amenity to community admin"
## 🐛 Describe the bug

* Only community admin should be able to create a new amenity

## ⚠️ Current behavior

* Any logged in user can create an amenity

## ✅ Expected behavior

* Only admins should be able to create a new amenity

## 💣 Steps to reproduce

* `POST /communities/{communityId}/amenities`

## 📱 Tech info

- Device: NA
- OS: All
- Library/App version: latest master

[2020-10-04 07:04] SrishtyC13 commented on #151
I am taking this issue.

[2020-10-04 07:06] jmprathab commented on #151
@SrishtyC13 Can you please describe the approach? The above-commented approach is not yet finalized.

I am going through https://www.baeldung.com/spring-security-registration-i-forgot-my-password as of now to see if there is a better approach.

[2020-10-04 07:10] SrishtyC13 commented on #151
Actually i am a noob in open source, so i am just searching for projects related to android, i got misunderstood in your issue, can you suggest me where to start for android.

[2020-10-04 07:11] jmprathab opened #153 "[FEATURE TASK] API access control"
## ⚠️ Is your feature request related to a problem? Please describe

* Story to track access control for all APIs

## Sub-tasks

- [x] Amenity creation(#152)
- [x] Adding community admin(#150)

[2020-10-04 07:14] jmprathab commented on #151
@SrishtyC13 Not a problem :-) This project is not based on android.

[2020-10-04 09:39] tomsajuk commented on #149
Hi @jmprathab Can I take this up?

[2020-10-04 13:24] tomsajuk commented on #149
@jmprathab please review. I can take up the next one too related to this. 155

[2020-10-04 13:44] WOLFI3654 commented on #150
Hey, @jmprathab I would like to tackle this issue :)

[2020-10-05 04:30] jmprathab commented on #150
@WOLFI3654 Sure. Let me assign the issue to you.

[2020-10-05 10:38] #149 closed, assigned to tomsajuk

[2020-10-05 11:30] fx0000 commented on #152
Hello, I would like to start contribute into the project. Can you assign me to this issue?

[2020-10-05 14:59] jmprathab commented on #152
@fx0000 Sure.

[2020-10-05 18:52] WOLFI3654 commented on #150
Thank you very much!

[2020-10-06 05:50] GuptaAkshay commented on #151
Hi, @jmprathab I would like to take this issue up.
Also, I went through the link you mentioned in the above comment, which seems doable.

[2020-10-06 07:56] mslowiak commented on #151
Welcome on board @GuptaAkshay! Fell free to raise a PR :)

[2020-10-07 03:25] tomsajuk commented on #116
@jmprathab I see that the dependent is completed. Shall I take this up?

[2020-10-07 09:04] mslowiak commented on #116
@tomsajuk Yes, you are right. Should I assign that to you? :)

[2020-10-07 10:31] studentPavel commented on #153
Hi, could you tell me more about this issue? I'm just beginner.

[2020-10-07 10:51] mslowiak commented on #153
@studentPavel Hi there. This task is a feature task - it means that it groups issues that are needed to finish business feature. It is just for tracking purpose

[2020-10-07 10:52] mslowiak commented on #46
Reopen because of no feedback from developer

[2020-10-07 11:29] Giluerre commented on #46
Hello, I can take this. Can you assign it to me?

[2020-10-07 13:10] DDmit04 opened #156 "Repeating helper methods in tests"

[2020-10-07 13:20] #156 closed, assigned to nobody

[2020-10-07 13:28] DDmit04 opened #157 "Repeating helper methods in tests"
## ⚠️ Is your feature request related to a problem? Please describe

Some of the help methods in test classes are similar or the same

Example:

`HouseMemberDocumentServiceIntegrationTest`
[code]
`HouseMemberDocumentServiceTest`
[code]

`UserSDJpaServiceTest`
[code]
`HouseSDJpaServiceTest`
[code]
`CommunitySDJpaServiceTest`
[code]
`AmenitySDJpaServiceTest`
[code]
## 💡 Describe the solution you'd l

[2020-10-07 13:35] DDmit04 opened #158 "DataLoader class does nothing"
## ⚠️ Is your feature request related to a problem? Please describe

`DataLoader` and `TestDataConstants` classes do nothing (their functionality has been replaced with `data.sql`)

[code]

## 💡 Describe the solution you'd like

Remove this clases

[2020-10-07 14:03] Tobi406 opened #159 "Endpoint to get all members of all houses a user is in"
## ⚠️ Is your feature request related to a problem? Please describe

The only current way I know of to get all members of all houses the user is in, is to get all houses of the member and then get all members of these houses. Which I suspect is a) ugly and b) not fast

This is required to do part of what is suggested in jmprathab/MyHome-Web#87

## 💡 Describe the solution you'd like

* A `GET` endp

[2020-10-07 14:51] tomsajuk commented on #116
@mslowiak Yes please :)

[2020-10-07 14:57] jmprathab commented on #46
@Giluerre Sure.

[2020-10-07 16:11] jmprathab commented on #159
* Endpoint has to be - `GET /users/{userId}/housemates`
* Endpoint should support pagination with `limit` & `start` parameters (Reference Implementation: [PaymentService](https://github.com/jmprathab/MyHome/blob/master/service/src/main/java/com/myhome/services/PaymentService.java)::listAll)

CC: @mslowiak

[2020-10-07 16:35] mslowiak opened #160 "Replace HealthCheckController with Spring Actuator"
The actual controller should be deleted.
We should use Spring Actuator instead.

Reference:
https://www.baeldung.com/spring-boot-actuators

[2020-10-07 16:43] jmprathab commented on #160
* Only Health endpoints can be enabled.

[2020-10-07 17:12] ubaldop commented on #160
I can take this.

[2020-10-07 17:16] mslowiak commented on #160
Great @P3trur0. Good luck!

[2020-10-07 18:14] GuptaAkshay commented on #151
@mslowiak I am going to follow the approach mentioned https://www.baeldung.com/spring-security-registration-i-forgot-my-password. Do we need to have a discussion on the approach or it is good to go?

[2020-10-07 19:25] jufab commented on #158
Could you assign it to me?

[2020-10-07 20:36] mslowiak commented on #151
@GuptaAkshay Everything is correct there but according to `PasswordResetToken` entity please create `SecurityTokens` instead which will contain `id`, `token`, `expiryDate`, `creationDate`,  `type`.

This will be needed in case of an account activation feature in the future.
So in your case, the `type` property should be `RESET`.

Any questions to that?

[2020-10-07 20:40] mslowiak commented on #158
@jufab done :)

[2020-10-08 02:06] esalcidom commented on #159
Hi @Tobi406 I would like to help with this issue.

[2020-10-08 05:28] jmprathab commented on #159
@esalcidom Sure. Feel free to raise a PR! Thanks for your interest and time!

[2020-10-08 05:30] #158 closed, assigned to jufab

[2020-10-08 13:23] BenTels opened #164 "Add a salt to the hashed password"
## ⚠️ Is your feature request related to a problem? Please describe

As of the time of writing, the user password is stored in a hashed format (BCrypt). However, nothing but BCrypting is done to hash the password. This means that all users with the same password will have their passwords stored in the database with the same hash value. In case of an exposure of stored password hashes, this immedia

[2020-10-08 18:26] fx0000 commented on #153
Pull request [ **_#165_** ] related to the sub-task **_Amenity _creation__** [ _**#152**_ ]  was proposed recently. However, we should consider division of HTTP requests in a terms of security for particular REST controller. Thus, sets of security rules should exist for the every controller. There are many methods across all the controllers, which should be executed only by admin. The numbers of t

[2020-10-08 18:30] mslowiak commented on #164
BCrypt does not work in that way at least in `BCryptPasswordEncoder` implementation.

![image](https://user-images.githubusercontent.com/18486535/95498956-deab8000-09a4-11eb-8f56-4539994c30b3.png)

For 3 different users with the same password, the hashes are different.

There are salted, see encode docs:
https://docs.spring.io/spring-security/site/docs/3.2.5.RELEASE/apidocs/org/springframework/sec

[2020-10-08 18:39] mslowiak commented on #153
@fx0000 What do you mean by `security controller division` ? Could you provide the real-life example?

[2020-10-08 18:39] ubaldop commented on #160
#166 is on its way! 🚀

[2020-10-08 19:05] BenTels commented on #164
Ugh, yes, BCrypt includes its own salt. Teach me to try thinking when I'm sick... Sorry.

Never mind. As long as there is no desire to use a different hashing algorithm, it will be okay. You'll have issues if you want to make that mechanism configurable though.

[2020-10-08 19:08] #164 closed, assigned to nobody

[2020-10-08 19:58] fx0000 commented on #153
By security **_REST_** controller division I thought divide incoming requests by controllers in the security config. Currently implementation divide all request broadly into two sub-groups: public/authenticated.

### Example
1. Incoming HTTP request match URL pattern related to specific REST controller like "/communities/** --> CommunityController"
2. Community authorization filter will be added i

[2020-10-09 16:57] mslowiak opened #168 "Add info about code style to CONTRIBUTING.md"
There should be information in CONTRIBUTING.md about the code style that we use.
This info is included only in README.md actually.

Code style:
https://github.com/square/java-code-styles

[2020-10-09 18:56] HemantJoshi11 commented on #168
@mslowiak I will update contribution.md file with code style information. You want me to update anything specific ?

[2020-10-09 19:01] mslowiak commented on #168
@HemantJoshi11 We just want to have that information also in contributing guide, not a big deal :)

[2020-10-09 19:11] mslowiak opened #169 "[FEATURE TASK] Migration to OpenApi specification"
## ⚠️ Is your feature request related to a problem? Please describe

We don't want to maintain all annotations connected with swagger specification like @ApiOperation, @ApiResponse, and so on.

## 💡 Describe the solution you'd like

We would like to generate the interfaces that will be implemented by our controllers.
In the way to do this we need to convert actual controller definitions to yaml fi

[2020-10-09 19:14] mslowiak opened #170 "Migration of UserController to OpenApi yaml schema"
This task is a subtask for #169.

The steps that need to be done:
- convert all endpoints from controller to yaml file
- check that endpoints are working, in the same way, like before the change
- check the tests

[2020-10-09 19:18] mslowiak opened #172 "Migration of PaymentController to OpenApi yaml schema"
This task is a subtask for #169.

The steps that need to be done:
- convert all endpoints from controller to yaml file
- check that endpoints are working, in the same way, like before the change
- check the tests

An example can be found in PR #171.

[2020-10-09 19:18] mslowiak opened #173 "Migration of HouseMemberDocumentController to OpenApi yaml schema"
This task is a subtask for #169.

The steps that need to be done:
- convert all endpoints from controller to yaml file
- check that endpoints are working, in the same way, like before the change
- check the tests

An example can be found in PR #171.

[2020-10-09 19:19] mslowiak opened #174 "Migration of HouseController to OpenApi yaml schema"
This task is a subtask for #169.

The steps that need to be done:
- convert all endpoints from controller to yaml file
- check that endpoints are working, in the same way, like before the change
- check the tests

An example can be found in PR #171.

[2020-10-09 19:19] mslowiak opened #175 "Migration of CommunityController to OpenApi yaml schema"
This task is a subtask for #169.

The steps that need to be done:
- convert all endpoints from controller to yaml file
- check that endpoints are working, in the same way, like before the change
- check the tests

An example can be found in PR #171.

[2020-10-09 19:20] mslowiak opened #176 "Migration of AmenityController to OpenApi yaml schema"
This task is a subtask for #169.

The steps that need to be done:
- convert all endpoints from controller to yaml file
- check that endpoints are working, in the same way, like before the change
- check the tests

An example can be found in PR #171.

[2020-10-09 21:12] edwin9870 commented on #172
Hello,

May I take this issue?

Regards!

[2020-10-09 21:17] mslowiak commented on #172
@edwin9870 sure, go ahead

[2020-10-10 01:09] huyle101 commented on #173
Hey @mslowiak
May I take this task?
Thanks,

[2020-10-10 03:32] tomsajuk commented on #116
Wanted to know whether all the booking endpoints to be created in a separate class(AmenityBookingController) or want to include in the Amenity controller. Any suggestion?

[2020-10-10 03:33] mslowiak commented on #173
@huyle1097 sure, assigned :)

[2020-10-10 04:59] GuptaAkshay commented on #151
@mslowiak I am sorry I will not able to continue on this task. please unassign the task.

[2020-10-10 05:13] mslowiak commented on #116
It should be in amenity controller
Cc : @jmprathab

[2020-10-10 09:04] mslowiak commented on #113
@zhupanovdm How it is going?

[2020-10-10 09:04] mslowiak commented on #150
@WOLFI3654 How it is going? :)

[2020-10-10 09:08] #168 closed, assigned to HemantJoshi11

[2020-10-10 09:13] mslowiak commented on #160
@P3trur0 please take a look on comments in your PR and create new, valid one :)

[2020-10-10 11:05] DDmit04 commented on #151
can I work on this?

[2020-10-10 11:21] mslowiak commented on #151
Go ahead @DDmit04  :)

[2020-10-10 11:43] hemantsonu20 commented on #174
I would like to pick this.

[2020-10-10 11:49] mslowiak commented on #174
Great @hemantsonu20. If you would have some questions feel free to catch me on our discord server :)

[2020-10-10 14:04] WOLFI3654 commented on #150
Please excuse the slight delay. I'll upload the code shortly :)

[2020-10-10 15:51] mslowiak opened #181 "[FEATURE TASK] Integration tests separation"
## ⚠️ Is your feature request related to a problem? Please describe

We want to have integration tests in the separate module rather than in the `service` module as actually.

## 💡 Describe the solution you'd like

Need to move integration tests to `integration-tests` module.

The following sub-tasks are needed:
- [x] Remove actual integration test classes and change packaging (`directory/unit`, `

[2020-10-10 15:52] mslowiak opened #182 "Remove actual integration test classes"
Things to do:
- remove actual integration test classes
- change packaging (directory/unit, directory/integration to simply directory)

[2020-10-10 15:55] mslowiak opened #183 "Setup integration-tests module"
Things to do:
- create an example integration test (can be for one endpoint, one case)
- configure `integration-tests` module to be able to run integration tests there

[2020-10-10 16:16] #170 closed, assigned to mslowiak

[2020-10-10 16:16] #182 closed, assigned to mslowiak

[2020-10-10 17:00] ubaldop commented on #160
@mslowiak done!

[2020-10-10 17:10] mslowiak commented on #160
@P3trur0 your commit message is 'added Spring Boot Actuator endpoints' but it should be 'Issue #160: Add Spring Boot Actuator endpoints'

[2020-10-10 17:29] ubaldop commented on #160
@mslowiak done

[2020-10-10 17:33] #160 closed, assigned to ubaldop

[2020-10-10 20:17] SergeyHydra commented on #176
@mslowiak I'd like to take this on. Can you assign this issue to me? Thanks.

[2020-10-10 20:19] SergeyHydra commented on #175
@mslowiak I'd like to take this on. Can you assign this issue to me? Thanks.

[2020-10-10 20:55] mslowiak commented on #175
@SergeyHydra when you finish the amenity story then I can assign that to you :)

[2020-10-11 17:32] #157 closed, assigned to DDmit04

[2020-10-12 10:33] #173 closed, assigned to huyle1097

[2020-10-12 12:05] huyle101 commented on #175
@mslowiak May I take this task? ;)

[2020-10-12 14:01] mslowiak commented on #175
@huyle1097 go ahead bro :)

[2020-10-12 17:44] #152 closed, assigned to fx0000

[2020-10-12 20:07] SergeyHydra commented on #176
@mslowiak I need some help with Gradle, I'm new to it.

[2020-10-12 20:14] mslowiak commented on #176
@SergeyHydra reach me via Discord :)

[2020-10-12 20:24] SergeyHydra commented on #176
What is your nickname there?

[2020-10-12 20:28] mslowiak commented on #176
slowiakovsky

[2020-10-12 20:31] SergeyHydra commented on #176
Not found. Can you join to conversation by link?
https://discord.gg/VAMMnW

[2020-10-12 20:55] DDmit04 commented on #151
News about this - now I writing tests

[2020-10-12 20:57] mslowiak commented on #113
It has been 9 days since last update, task is still up for grabs :)

[2020-10-12 20:58] mslowiak commented on #151
@DDmit04 thank you for an update. Did you implement this feature including that comment: https://github.com/jmprathab/MyHome/issues/151#issuecomment-705179829 ?

[2020-10-12 20:58] mslowiak commented on #46
@Giluerre
Can you update your status? How it is going?

[2020-10-13 06:04] #150 closed, assigned to WOLFI3654

[2020-10-13 07:59] DDmit04 commented on #151
@mslowiak yes

[2020-10-13 09:36] DDmit04 opened #192 "Unused PaymentService methods"
## 🐛 Describe the bug

This methods in `PaymentService` class used nowhere
[code]

## ✅ Expected behavior

Remove this methods

[2020-10-13 10:38] huyle101 commented on #192
hey @mslowiak @DDmit04
I would like to take this task 😋

[2020-10-13 10:44] #175 closed, assigned to huyle1097

[2020-10-13 15:59] #192 closed, assigned to huyle1097

[2020-10-13 18:23] Giluerre commented on #46
I still need to finish controller and test it.

[2020-10-13 22:25] mslowiak opened #196 "[FEATURE TASK] Email templates"
There is a need to create email templates.

Subtasks:
- Create an email template for a password reset
- Create an email template for creating an account

[2020-10-13 22:26] mslowiak commented on #196
@jmprathab
There is a need to create some email templates.
Let me know your thoughts so we can proceed with creating subtasks

[2020-10-14 08:27] aishwarya-bommisetty commented on #159
@esalcidom, Can I work with you on this issue?

[2020-10-14 15:37] edwin9870 commented on #174
Hello,

May I take this issue?

[2020-10-15 12:32] jmprathab commented on #174
@edwin9870 Sure.

[2020-10-15 12:37] #116 closed, assigned to tomsajuk

[2020-10-16 17:18] tomsajuk commented on #113
Shall I take this up?

[2020-10-18 13:28] tomsajuk commented on #113
Hi @jmprathab had some queries regarding the issue. Posting it below:
1. Should a user be able to book an amenity for another user? (neighbours maybe)
2. Any restrictions on the number of bookings and people at a particular time-slot? (There would be rush during weekends)
3. Can assume that the user can only book an amenity available in his community? (Would be throwing error if outside the commun

[2020-10-18 18:28] everythings13 commented on #183
Hi @mslowiak, would love to take it up. Lmk if it's still available.

[2020-10-18 18:46] mslowiak commented on #183
@everythings13
Yes, it is available. Have you some experience with Gradle already? :)

[2020-10-18 18:59] everythings13 commented on #183
@mslowiak, not with Gradle. Have been working, however, with Maven for quite some time now!

[2020-10-18 19:14] mslowiak commented on #183
@everythings13
Okay, then the task is yours. If you got some troubles please join us on Discord and share your feelings :)

[2020-10-19 06:50] #174 closed, assigned to edwin9870

[2020-10-19 14:46] jmprathab commented on #113
Great thoughts BTW.
1. Let's not do this.
2. Yes. Booking overlap should be restricted.
3. HTTP `403` can be returned in case. Note: Implementation has to use `AuthorizationFilter` rather than having the logic in the controller. master has similar implementations already.
4. User is not expected to pay for the amenity while booking. The idea is, `CommunityAdmin` might be able to generate a payment

[2020-10-19 19:16] GabrielCsik commented on #153
Hello, could I work on this issue?

[2020-10-20 06:52] #153 closed, assigned to nobody

[2020-10-21 15:50] piotrkosinski137 opened #199 "Sending valid error messages from backend during sign in/ signup to the forntend"
## ⚠️ Is your feature request related to a problem? Please describe
I've tried to sign in with to short password via UI. I got "An error occurred!" error message.

## 💡 Describe the solution you'd like
We should create error object which will be passed to the frontend. Error object should contain error message, which will be displayed on UI

## 🤚 Do you want to develop this feature yourself?
Yes I

[2020-10-21 16:09] jmprathab commented on #199
Welcome on board. Feel free to raise questions or clarifications if any. Awaiting your PR 😊!

[2020-10-21 16:32] mslowiak commented on #159
@aishwaryaaaaaaa
Do you still want to work on that issue?

[2020-10-21 16:33] mslowiak commented on #46
@Giluerre
How it is going?

[2020-10-22 18:02] Giluerre commented on #46
Well... after updating my branch I noticed controller is now uses openAPI generated interface. So I have started migrating + my return type in old method was entity.
My current situation is: I have a problem adding a record to the table. After sending PostRequest from Postman record is added but both my Columns representing time are empty.
EDIT: In the end it was such stupid mistake .... Tomorrow

[2020-10-23 10:09] douglas-oliveira-talkdesk commented on #113
@tomsajuk Are you working into this task? If not, can I please get it?
Thanks 👍

[2020-10-23 13:47] piotrkosinski137 commented on #199
#201

[2020-10-24 08:38] #172 closed, assigned to edwin9870

[2020-10-24 08:51] #159 closed, assigned to nobody

[2020-10-24 08:53] tomsajuk commented on #113
@douglas-oliveira-talkdesk sure you can go ahead. Not getting time to work on this.
@jmprathab assign it to him please

[2020-10-30 14:06] #183 closed, assigned to everythings13

[2020-10-31 12:57] rmgrimm opened #206 "PaymentController can only respond with 404 or with NullPointerException when creating Payment"
## 🐛 Describe the bug

The PaymentController currently calls to the method `SchedulePaymentApiMapper#enrichedSchedulePaymentRequestToPaymentDto(...)` immediately before it calls the PaymentService to persist the payment:

[code]

From here, the PaymentController attempts to persist the payment into the database. Before persisting the payment, it first tries to persist an Admin User.

From PaymentS

[2020-11-05 14:25] #176 closed, assigned to SergeyHydra

[2020-11-07 13:11] #151 closed, assigned to DDmit04

[2020-11-10 18:53] DDmit04 commented on #196
We can just use HTML thymeleaf template as email messages

[2020-11-11 06:21] DDmit04 commented on #196
Something like that already better than simple text

![image](https://user-images.githubusercontent.com/46588421/98776083-5d119c80-23ff-11eb-9fed-03c5fa35fb48.png)

[2020-11-11 07:05] DDmit04 opened #208 "MailService bugs"
## 🐛 Describe the bug

I found some bugs in password recover sysem

## ⚠️ Current behavior

in `data.sql` all tokens are expired
[code]

In postman config `Request reset password - Forgot` and `Request reset password - Reset` has incorrect urls

## ✅ Expected behavior

in `data.sql`:
[code]
Fix postman urls

[2020-11-11 07:05] DDmit04 commented on #208
assign to me please

[2020-11-12 11:10] jmprathab commented on #196
@DDmit04 Yeah. This seems like a good thought.

[2020-11-13 19:43] DDmit04 commented on #196
I've been working on this. I created thymeleaf templates for emails and localization options for tem. Now I am rewriting the MailService tests and then creating a pull request.

[2020-11-14 13:46] DDmit04 commented on #196
I think we should create email confirmation sysem before send emails

[2020-11-14 16:13] mslowiak commented on #196
@DDmit04 What do you mean?

[2020-11-14 17:04] DDmit04 commented on #196
@mslowiak When user registered we send email with activation code (or link) user use it and he's email become confirmed. Users witout confirmed email cant recive emails (for example user cant reset password). This way we can ensure that the email belongs to registered user

[2020-11-14 23:40] DDmit04 commented on #196
@mslowiak Also I suggest to only authenticate users with verified email addresses (make confirmation email part of registration)

[2020-11-15 12:17] mslowiak commented on #196
@DDmit04 Yeah, the plan was to include this feature as well. This is why we got token_type property or something similiar in security tokens entity

[2020-11-15 14:28] DDmit04 commented on #196
@mslowiak Can I create Issues and work on email template and email confitmation?

[2020-11-19 08:08] #208 closed, assigned to DDmit04

[2020-12-04 19:53] edwardUL99 commented on #206
I could take a look at this as I did this code ages ago

[2020-12-07 03:46] jmprathab commented on #206
@edwardUL99 Sure. Thanks for your time.

[2020-12-08 19:49] edwardUL99 commented on #206
@jmprathab @mslowiak @rmgrimm
Descriptions aren't meant to be unique right? The description in Payment is defined as a unique column, but with the PaymentControllerIntegration test (I had to copy the code over into my branch as the pull request isn't merged yet), I didn't get a null pointer exception, instead of a unique key violation exception for description. When I remove the unique constraint,

[2020-12-08 20:14] mslowiak commented on #206
Yeah, they do not need to be unique

[2021-01-01 23:59] DDmit04 opened #211 "Email confirm functionality"
## ⚠️ Is your feature request related to a problem? Please describe

Before send emails to user (for example with password reset code) user's email must be confirmed

## 🤚 Do you want to develop this feature yourself?

- [x] Yes
- [ ] No

[2021-01-02 00:02] DDmit04 opened #212 "Deny auth for users with non confirmed email"
## ⚠️ Is your feature request related to a problem? Please describe

Users with non confirmed email must not be authenticated

## 🤚 Do you want to develop this feature yourself?

- [x] Yes
- [ ] No

[2021-01-03 23:07] DDmit04 opened #213 "forgot - reset password functionality"
## ⚠️ Is your feature request related to a problem? Please describe

Let users reset password with email

## 💡 Describe the solution you'd like

One problem here is to invalidate the current JWT token, with the current JWT implementation this is not possible. Now I think about JWT blacklist in redis or app DB

## 🤚 Do you want to develop this feature yourself?

- [x] Yes
- [ ] No

[2021-01-05 03:29] jmprathab commented on #212
When we implement this, we should look for enabling/disabling this feature via `application.yaml`.

[2021-01-05 21:44] DDmit04 opened #214 "Swagger docs are not generated from api.yaml specs"
## 🐛 Describe the bug

Information in Swagger.ui is different from `api.yaml`

## ⚠️ Current behavior

For all mappings responses Swagger diplay only 200 HTTP code

## ✅ Expected behavior

Full list of response codes defined in `api.yaml`

## 📷 Screenshots
in UI:

![image](https://user-images.githubusercontent.com/46588421/103703218-2fd50b00-4fb8-11eb-9a6b-ec8a0c3df7c2.png)

in `api.yaml`:

![imag

[2021-01-09 20:19] barddoo opened #217 "Error OpenApi on build"
## 🐛 Describe the bug

Getting error when build the project

## ⚠️ Current behavior

Running `./gradlew assemble` and `./gradlew build` get into error
[code]

## 💣 Steps to reproduce

Clone repo, run `./gradlew assemble`

## 📷 Screenshots

![image](https://user-images.githubusercontent.com/45905884/104107827-681d6780-529e-11eb-9da1-4916fc549d15.png)

## 📱 Tech info

- OS: Linux
- Library/App versi

[2021-01-10 17:22] DDmit04 commented on #217
Strange I can't reproduce error on my PC (win10). I get success build.

This is my gradle info:

![image](https://user-images.githubusercontent.com/46588421/104130359-4648e100-5381-11eb-9277-5244cdcfbabe.png)

And I found strange thing with path:

![image](https://user-images.githubusercontent.com/46588421/104130395-88722280-5381-11eb-971a-8f5dd4c2bfab.png)

I use `gradlew clean`, `gradlew build`,

[2021-01-17 00:42] barddoo commented on #217
Maybe it's related to Linux

[2021-02-10 13:29] #211 closed, assigned to DDmit04

[2021-02-16 21:29] mslowiak commented on #214
That is not a bug.
We not fully switched from the swagger and there is still  `org.springdoc:springdoc-openapi-ui:` used.

I will change that behavior soon :)

[2021-02-16 21:33] mslowiak commented on #214
CC: @jmprathab
Pull request is raised for that change #219

[2021-02-16 21:41] mslowiak opened #220 "Move deleteBooking from AmenityController to BookingController"
It is more like a cleanup task.

Things to be done:
- move logic from `AmenityController` to `BookingController` (new class)
- rewrite API specs to `api.yaml` file
- change resource URL from `/bookings/{bookingId}` to `/amenities/{amenityId}/bookings/{bookingId}`

[2021-02-16 21:42] #169 closed, assigned to mslowiak

[2021-02-16 21:59] mslowiak commented on #217
@barddoo Do you resolved the issue or there is still a problem?

[2021-02-16 22:01] mslowiak commented on #212
Why we want to manage it that way @jmprathab?

[2021-02-17 13:34] barddoo commented on #217
Still get into error

[2021-02-17 15:39] mslowiak commented on #217
@barddoo
What is your gradle version?
Could you please change the openApiVersion version from `5.0.0-beta2` to `5.0.1` in `gradle.properties` and try again?

[2021-02-17 15:51] mslowiak opened #221 "Update OpenApi to 5.0.1"
Since there is already a stable 5.x version of the OpenApi library we can bump it from the beta version.

Things to be done:
- update dependency (currently `5.0.0-beta2` located in `gradle.properties` file)
- check if the project is built without any errors

[2021-02-17 19:39] #214 closed, assigned to mslowiak

[2021-02-17 21:38] mslowiak opened #222 "Add paging information to /communities/{communityId}/admins/{adminId}/payments"
We need to support pagination results for the frontend pagination feature.

Things to be done:
- Define `PageInfo` class
- Apply that class to `ListAdminPaymentsResponse` as another property called `pageInfo`
- Update `api.yaml` schema
- Update and fix tests

CC: @Tobi406

[2021-02-17 21:47] mslowiak commented on #222
A new model for a response, in that case, would include the `PageInfo` object @Tobi406.

Example:

[code]

[2021-02-17 21:53] mslowiak opened #224 "Divide postman collection into directories"
Actually, postman collection has all requests in the root directory, would be nice to divide it per feature - community, documents, payments, etc.

Things that need to be done:
- Import postman collection to  your local environment (located under `/postman/MyHome.postman_collection.json`)
- Make directories (community, documents, payments,  etc)
- Move actual requests to proper directories
- Modif

[2021-02-18 16:09] mslowiak opened #225 "Add `useTags=true` flag in openapi-generator config"
## 💡 Things need to be done:
- Add config parameter called `useTags` for openapi-generator config
- Regenerate project API
- Move logic of non-compiling classes to proper one (some classes could stop compiling because they will be generated differently after grouping by tags)

[2021-02-18 16:12] mslowiak opened #226 "Analyze actual endpoints by feature"
## 💡 Things need to be done:
- Analyze all endpoints if every endpoint has a proper tag assigned in `api.yaml`
- Create follow-up tasks attached to #228

[2021-02-18 16:14] mslowiak opened #227 "Fix typos in API specs"
## 💡 Things need to be done:
- Go through `api.yaml` and check for misspelling issues
- Fix issues
- Regenerate code
- Fix tests

[2021-02-18 16:14] mslowiak opened #228 "[FEATURE TASK] Relocate endpoints in api.yaml regarding to their responsibilities"
## ⚠️ Is your feature request related to a problem? Please describe

We want to have endpoints separated by feature and located in swagger via tags.

## 💡 Things need to be done:
- [x] - Add `useTags=true` flag in openapi-generator config #225
- [x] - Fix typos connected with tags #227
- [x] - Analyze actual endpoints tags #226
- [x] - Move deleteBooking from AmenityController to BookingController

[2021-02-18 16:15] #222 closed, assigned to mslowiak

[2021-02-18 17:04] #227 closed, assigned to mslowiak

[2021-02-18 19:34] #225 closed, assigned to mslowiak

[2021-02-18 20:07] mslowiak opened #231 "Move endpoint related to payments from communities tag to payments"
Things to be done:
- Move `/communities/{communityId}/admins/{adminId}/payments` from `communities` tag to `payments` tag in `api.yaml`
- Generate code from new specs
- Fix test classes

[2021-02-18 20:13] mslowiak opened #232 "Move endpoints related to houses from community tag"
Things to be done:
- Move GET `​/communities​/{communityId}​/houses` from `communities` tag to `houses` tag in `api.yaml`
- Move POST `​/communities​/{communityId}​/houses` from `communities` tag to `houses` tag in `api.yaml`
- Move DELETE `​/communities/{communityId}/houses/{houseId}` from `communities` tag to `houses` tag in `api.yaml`
- Generate code from new specs
- Fix test classes

[2021-02-18 20:15] mslowiak opened #233 "Move endpoints related to amenities from community tag"
Things to be done:
- Move GET `/communities/{communityId}/amenities` from `communities` tag to `amenities` tag in `api.yaml`
- Move POST `/communities/{communityId}/amenities` from `communities` tag to `amenities` tag in `api.yaml`
- Generate code from new specs
- Fix test classes

[2021-02-18 20:20] mslowiak commented on #226
To sum up, there should be done #220, #231, #232, and #233.

After that, we can think if some of the endpoints make even sense or need further split by tag (maybe Admins or House Members tags needs to be done? @jmprathab).

Closing as research is done and issues are created.

[2021-02-18 20:20] #226 closed, assigned to mslowiak

[2021-02-18 20:51] mslowiak opened #234 "Add Bearer authentication to api.yaml on proper endpoints"
Some endpoints should be protected, but actually our `api.yaml` file have not this information.

Link to OpenApi documentation:
https://swagger.io/docs/specification/authentication/bearer-authentication/

The class that holds secured & public endpoints of application:
https://github.com/jmprathab/MyHome/blob/master/service/src/main/java/com/myhome/security/WebSecurity.java

Things need to be done:

[2021-02-19 16:37] Tobi406 opened #235 "500 thrown when requesting payments"
## 🐛 Describe the bug
Instead of any response data an error is thrown and `500` is returned.

Related to: #222 and #223

## ⚠️ Current behavior
A status code of `500` is returned

## ✅ Expected behavior
The response is returned with the requested data.

## 💣 Steps to reproduce
Call a GET request on a `/communities/{communityId}/admins/{adminId}/payments` route (such as `/communities/d8ef3522-1193-

[2021-02-19 20:57] mslowiak opened #237 "[FEATURE TASK] Add login endpoint to the schema"
## 🤚 Things needs to be done:
- [x] - Create new login endpoint schema for `auth/login` with controller #238
- [x] - Update code on frontend side https://github.com/jmprathab/MyHome-Web/issues/119
- [x] - Delete old login filter (`MyHomeAuthenticationFilter`) #239
- [x] - Unit tests for new login endpoint  #243

[2021-02-19 20:58] mslowiak opened #238 "Create new login endpoint schema for auth/login with controller"
## 🤚 Things need to be done:
- Create a new login endpoint schema in `api.yaml` file
- Allow accessing this endpoint for all (`WebSecurity class`)
- Throw 401 if login failed (user not found / credentials incorrect) and log what happened

[2021-02-19 21:00] mslowiak opened #239 "Delete old login filter (MyHomeAuthenticationFilter)"
## 🤚 Things need to be done:
- Need to delete old filter (`MyHomeAuthenticationFilter` class)
- Delete related code
- Delete filter usage and endpoint protection for `users/login`

Blocked by: #238

[2021-02-19 21:17] #238 closed, assigned to mslowiak

[2021-02-19 21:28] mslowiak opened #243 "Unit tests for new login endpoint logic"
We need to write tests for https://github.com/jmprathab/MyHome/pull/240/files.

Classes that should be covered:
- AuthenticationController.java
- AuthenticationSDJpaService.java
- UserSDJpaService.java (method findUserByEmail)

[2021-02-19 21:29] #239 closed, assigned to mslowiak

[2021-02-19 21:42] #235 closed, assigned to mslowiak, Tobi406

[2021-02-20 21:35] #206 closed, assigned to edwardUL99

[2021-02-21 18:39] #234 closed, assigned to mslowiak

[2021-02-21 19:11] mslowiak commented on #217
@barddoo
I don't know why this problem occurs but we added the servers URL parameter in #241 so it should work from now :)

[2021-02-21 19:11] #217 closed, assigned to nobody

[2021-02-21 19:13] mslowiak commented on #213
Closed via #215

[2021-02-21 19:13] #213 closed, assigned to nobody

[2021-02-22 14:30] ghost commented on #224
Hello, this is my first git project in a team and I am not sure if I understand the task correctly. You want to split the MyHome.postman_collection file into smaller files and put them in suitable folders. And then adjust the parser. Where can I find the parsers and where should the .json file be split?

[2021-02-22 16:24] mslowiak commented on #224
Hi @JanneSickert! :)

Currently, when you import the postman collection it looks like on the image below:
![image](https://user-images.githubusercontent.com/18486535/108736913-57654000-7532-11eb-83e5-8d83fb6a5509.png)

The idea is to group requests to different directories. We can create for example directory "authentication" and group there login and register requests, see below:
![image](https:/

[2021-02-22 16:52] DDmit04 opened #247 "JWT token invalidation after password change"
## ⚠️ Is your feature request related to a problem? Please describe

After user change password all login sessions (and JWT tokens) stay valid

## 💡 Describe the solution you'd like

Add an invalid token store (in Redis for example) which automatically delete tokens on expiration

## 🤚 Do you want to develop this feature yourself?

- [ ] Yes
- [ ] No

[2021-02-23 16:32] #224 closed, assigned to nobody

[2021-02-23 23:16] DDmit04 commented on #212
Should I start work on this?

[2021-02-24 13:28] mslowiak commented on #212
@DDmit04 hold on with that issue. There are plenty of others that you can pick up

[2021-02-27 16:12] hsergiu commented on #243
I would like to write the tests. Would you let me do a PR after I am done with them?

[2021-02-27 16:54] mslowiak commented on #243
Hi @hsergiu!
Feel free to start working on this issue.
All you need to do is to create a fork and raise PR when you will be done.
Take a look at our [contribution guide](https://github.com/jmprathab/MyHome/blob/master/CONTRIBUTING.md) before starting work :)

[2021-02-27 19:39] ghost commented on #247
I will try to fix that issure

[2021-02-28 09:41] #221 closed, assigned to nobody

[2021-03-01 23:04] ghost commented on #233
I will try to fix this issure.

[2021-03-02 18:08] mslowiak commented on #233
@JanneSickert great, good luck!

[2021-03-03 17:53] ghost commented on #232
I do this

[2021-03-03 21:01] #243 closed, assigned to hsergiu

[2021-03-03 21:02] #237 closed, assigned to mslowiak

[2021-03-05 14:41] #196 closed, assigned to jmprathab, mslowiak

[2021-03-05 18:20] hsergiu commented on #231
Can i take this one?

[2021-03-05 21:22] DDmit04 commented on #113
can I take this?

[2021-03-05 22:21] mslowiak commented on #231
@hsergiu sure!

[2021-03-05 22:22] mslowiak commented on #113
@DDmit04 yes ;)

[2021-03-06 19:49] #231 closed, assigned to hsergiu

[2021-03-07 18:23] Tobi406 opened #255 "Payment test data"
## The problem
Currently default test data for payments is being missed. This hinders the development flow, when you have to add data after every restart. It would be nice if such data could be added.

[2021-03-09 22:03] DDmit04 opened #257 "Delete amenity cases error 500"
## 🐛 Describe the bug

`DELETE /amenities/{amenityId}` cases error 500
## ⚠️ Current behavior

[code]

[2021-03-10 08:48] #233 closed, assigned to nobody

[2021-03-10 22:18] DDmit04 opened #260 "Fix postman collection"
## 🐛 Describe the bug

There some errors in postman collection.

## ⚠️ Current behavior

1. No `GET /communities/{communityId}/amenities` mapping present in collection
2. `POST /auth/login` mapping have wrong body params (no user with this email and password)

## ✅ Expected behavior

1. Add `GET /communities/{communityId}/amenities` mapping
2. Cange body params from
[code]
to
[code]
and add defaul

[2021-03-13 12:12] hsergiu commented on #220
Can I take this one?

[2021-03-13 14:25] mslowiak commented on #220
Sure, go ahead @hsergiu !

[2021-03-16 17:20] Tobi406 opened #262 "pageInfo missing on /communities"
## The issue
When you list all communities by `GET /communities`, you get all the communities in a `communities` array, you can also page them using `page` and `size` query parameters, but no `pageInfo` object is returned, which is required for further pagiation on the front-end.

[2021-03-21 13:28] kev711 commented on #46
@jmprathab Can I take a shot at this ?

[2021-03-29 08:48] kev711 commented on #46
@jmprathab A gentle reminder...

[2021-03-29 17:53] mslowiak commented on #46
@kev711
Go ahead :)

[2021-04-05 12:35] kev711 commented on #46
I have a question regarding this. If the newly created `rentals` via `POST` has mandatory start and end time, then shouldn't the `GET` request send out the same, regardless if the member is currently staying ?

[2021-04-07 14:22] mslowiak commented on #46
@kev711
I had read the description of this task again and yeah, it is a little misleading.

I guess the best option would be to store four types of dates:
- `bookingFromDate` - mandatory for POST, returned in GET
- `bookingToDate` - mandatory for POST, returned in GET
- `arrivalDate` - not used in POST, returned in GET
- `departureDate` - not used in POST, , returned in GET

What are your thoughts

[2021-04-10 09:14] kev711 commented on #46
Generally, requirement for capturing any data element should come from a business need. Off the bat, I think together with date, time should also be captured. Maybe capture date and time together as an Unix Epoch time. Do you see any issues with that ?

[2021-04-10 13:50] DDmit04 opened #263 "MailSDJpaServiceTest not actualy works"
## 🐛 Describe the bug

When running `MailSDJpaServiceTest` Mail exceptions must be catched with console message without stacktrace

## ⚠️ Current behavior

Not we got this output when running tests:
[code]

This line means that exception was catched :
`16:44:29.460 [Test worker] ERROR com.myhome.services.springdatajpa.MailSDJpaService - Mail send error!`
But the other was not:
`javax.mail.internet

[2021-04-10 13:51] DDmit04 commented on #263
I already found solution - need to replace this segment in all tests
[code]
By this
[code]
And remove whitespaces from `MailPropertiesHelper.getTestMailProperties()` username:
[code]
to
[code]

[2021-04-19 14:48] suraj4652 commented on #255
Can I take up this task.

[2021-04-19 14:53] kev711 commented on #46
- Will / Is there another endpoint for adding `arrivalDate` & `departureDate` values ? Since they are actuals and will be added at the time of check-in/out.
- Looking at the ER diagram, I think the entity `house_member` would be a good candidate to store this data, assuming each entry is unique for a stay. Is it ?

[2021-04-19 17:05] suraj4652 commented on #255
In Payment.java bean, below 2 attribute should have OneToOne Mapping.

private User admin;
private HouseMember member;

[2021-04-20 15:11] mslowiak commented on #46
1. As far as I remember there is no such endpoint because rentals are the new thing there. It should be tackled later after this task will be done.
2. From the house owner's view - you are right. How about the person who is renting a flat/house? In my opinion, we should store those data in a separate place to satisfy this need.

According to your previous question - yes, we should get dates from u

[2021-06-06 18:21] kev711 commented on #46
Hi @mslowiak,
Due to other commitments I won't be able to work on this issue. Kindly un-assign me from this issue. Thank you for all your inputs!

[2021-06-10 23:40] yasuomaidana commented on #262
Could you assign it to me?

[2021-08-05 22:02] trangntt-016 commented on #255
Can I pick up this task?

[2021-08-20 13:24] prabinamatya commented on #220
@mslowiak  Is this still open? Can I take it?

[2021-09-19 16:07] jfjara commented on #113
Hello, Could I take this? Regards

[2021-09-27 16:08] kajalrawal commented on #255
@Tobi406 Please assign this issue to me, I would like to fix it

[2022-02-23 11:34] jucron commented on #255
Hello! I would like to contribute to this issue. Thank you

[2022-03-13 01:31] deepdmistry commented on #232
Can i take up this task ?

[2022-05-25 06:45] 13413rahul commented on #260
hey @DDmit04
I would like to fix this issue

[2022-08-15 07:57] TimotheDavid commented on #228
hey @mslowiak  can I make it ? it will takes few hours

[2022-09-03 15:15] #220 closed, assigned to hsergiu

[2022-09-15 20:06] Ikhiloya commented on #247
I see that this is still open, I'd like to try it out.

Here's my solution approach:
1. Create a Redis token store for tokens to be invalidated after a user has changed password.
2. The token store will hold the token, issuedAt and expiry data.
3. Once the user's password is changed, the token , issuedAt and expiry fields are stored. This will require decoding the token.
4. A chron job would run i

[2022-09-25 15:32] Murad013 commented on #232
Hi @mslowiak, I'm still new to Open Source so I'm confused if this is still open or not. I can see from the tag that it is but it seems like @JanneSickert closed it.

[2022-09-25 19:14] mslowiak commented on #232
Hi @Murad013,
Actually the owner of this project is not responding so I don't know :)
I can assign this to you

[2022-09-25 19:17] Murad013 commented on #232
Thank you!

[2022-10-07 19:27] #255 closed, assigned to nobody